[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Rocs/GraphFilePlugin
X-KDE-Library=rocs_kmlfileformat
X-KDE-PluginInfo-Author=Wagner Reck, Andreas Cord-Landwehr
X-KDE-PluginInfo-Name=rocs_kmlfileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rocs KML Graph File Plugin
Name[cs]=Zásuvný modul souborů grafů Rocs KML
Name[el]=Πρόσθετο αρχείων γράφων KML του Rocs
Name[es]=Complemento de archivo de grafos KML para Rocs
Name[et]=Rocsi KML graafifaili plugin
Name[fi]=Rocsin KML-graafitiedostoliitännäinen
Name[hu]=Rocs KML gráf fájl bővítmény
Name[nb]=Rocs KML graf-fil-programtillegg
Name[nl]=Plugin voor Rocs KML grafiekbestand
Name[pt]='Plugin' de Grafos em KML do Rocs
Name[pt_BR]=Plugin de arquivo de grafo KML do Rocs
Name[sk]=Grafický súborový plugin Rocs KML
Name[sv]=Rocs insticksprogram för KML-graffil
Name[uk]=Додаток роботи з файлами графів KML Rocs
Name[x-test]=xxRocs KML Graph File Pluginxx
Name[zh_TW]=Rocs KML 檔案外掛程式
Comment=Read and write Keyhole Markup Language documents (KML)
Comment[cs]=Číst a ukládat dokumenty Keyhole Markup Language (KML)
Comment[el]=Ανάγνωση και εγγραφή αρχείων της γλώσσας σήμανσης Keyhole (KML)
Comment[es]=Leer y escribir documentos del lenguaje de marcas Keyhole (KML)
Comment[et]=KML (Keyhole Markup Language) dokumentide lugemine ja kirjutamine.
Comment[fi]=Lukee ja kirjoittaa Keyhole Markup Language (KML) -tiedostoja
Comment[hu]=Keyhole jelölő nyelv dokumentumok (KML) olvasása és írása
Comment[nb]=Les og skriv dokumenter i Keyhole Markup Language (KML)
Comment[nl]=Lezen en schrijven van Keyhole Markup Language documenten (KML)
Comment[pt]=Ler e gravar ficheiros no formato KML (Keyhole Markup Language)
Comment[pt_BR]=Ler e gravar documentos no formato Keyhole Markup Language (KML).
Comment[sk]=Čítanie a zápis dokumentov Keyhole markup Language (KML)
Comment[sv]=Läs och skriv KML-filer (Keyhole Markup Language)
Comment[uk]=Читання і запис файлів у форматі Keyhole Markup Language (KML).
Comment[x-test]=xxRead and write Keyhole Markup Language documents (KML)xx
Comment[zh_TW]=讀寫 Keyhole Markup Language 文件 (KML) 。
