[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Rocs/GraphFilePlugin
X-KDE-Library=rocs_kmlfileformat
X-KDE-PluginInfo-Author=Wagner Reck, Andreas Cord-Landwehr
X-KDE-PluginInfo-Name=rocs_kmlfileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rocs KML Graph File Plugin
Name[bs]=Rocs KML Datoteka grafičkih dodatka
Name[ca]=Endollable de fitxer gràfic KML del Rocs
Name[ca@valencia]=Endollable de fitxer gràfic KML del Rocs
Name[cs]=Zásuvný modul souborů grafů Rocs KML
Name[da]=KML graffil-plugin til Rocs
Name[de]=KML-Graphendateimodul für Rocs
Name[el]=Πρόσθετο αρχείων γράφων KML του Rocs
Name[es]=Complemento de archivo de grafos KML para Rocs
Name[et]=Rocsi KML graafifaili plugin
Name[fi]=Rocsin KML-graafitiedostoliitännäinen
Name[fr]=Module externe de fichiers de graphe Rocs KML
Name[gl]=Engadido de ficheiros de gráficos KML
Name[hu]=Rocs KML gráf fájl bővítmény
Name[it]=Estensione per file di grafi KML di Rocs
Name[kk]=Rocs KML граф файлдар плагині
Name[km]=កម្មវិធី​ជំនួយ​ឯកសារ​ក្រាហ្វ Rocs KML
Name[nb]=Rocs KML graf-fil-programtillegg
Name[nl]=Plugin voor Rocs KML grafiekbestand
Name[pl]=Wtyczka pliku grafu Rocs KML
Name[pt]='Plugin' de Grafos em KML do Rocs
Name[pt_BR]=Plugin de arquivo de grafo KML do Rocs
Name[sk]=Grafický súborový plugin Rocs KML
Name[sl]=Vstavek datotek grafov KML za Rocs
Name[sv]=Rocs insticksprogram för KML-graffil
Name[uk]=Додаток роботи з файлами графів KML Rocs
Name[x-test]=xxRocs KML Graph File Pluginxx
Name[zh_TW]=Rocs KML 檔案外掛程式
Comment=Read and write Keyhole Markup Language documents (KML)
Comment[bs]=Čitanje i pisanje datoteka u Keyhole jeziku za označavanje (KML)
Comment[ca]=Llegeix i escriu fitxers escrits en Llenguatge de Marcatge Keyhole (KML)
Comment[ca@valencia]=Llig i escriu fitxers escrits en Llenguatge de Marcatge Keyhole (KML)
Comment[cs]=Číst a ukládat dokumenty Keyhole Markup Language (KML)
Comment[da]=Læs og skriv dokumenter i Keyhole Markup Language-format (KML)
Comment[de]=Dokumente im Format „Keyhole Markup Language“ (KML) lesen und schreiben
Comment[el]=Ανάγνωση και εγγραφή αρχείων της γλώσσας σήμανσης Keyhole (KML)
Comment[es]=Leer y escribir documentos del lenguaje de marcas Keyhole (KML)
Comment[et]=KML (Keyhole Markup Language) dokumentide lugemine ja kirjutamine.
Comment[fi]=Lukee ja kirjoittaa Keyhole Markup Language (KML) -tiedostoja
Comment[fr]=Lit et écrit des documents du langage de balisage Keyhole (KML).
Comment[gl]=Le e escribe ficheiros na linguaxe de etiquetaxe Keyhole
Comment[hu]=Keyhole jelölő nyelv dokumentumok (KML) olvasása és írása
Comment[it]=Leggi e scrivi i documenti scritti in Keyhole Markup Language (GML)
Comment[kk]=Keyhole Markup Language (KML) құжаттарын оқу және жазу
Comment[km]=អាន និង​សរសេរ​ឯកសារ Keyhole Markup Language (KML)
Comment[nb]=Les og skriv dokumenter i Keyhole Markup Language (KML)
Comment[nl]=Lezen en schrijven van Keyhole Markup Language documenten (KML)
Comment[pl]=Czytaj i zapisuj dokumenty Keyhole Markup Language (KML)
Comment[pt]=Ler e gravar ficheiros no formato KML (Keyhole Markup Language)
Comment[pt_BR]=Ler e gravar documentos no formato Keyhole Markup Language (KML).
Comment[sk]=Čítanie a zápis dokumentov Keyhole markup Language (KML)
Comment[sl]=Branje in pisanje dokumentov grafov Keyhole Markup Language (KML)
Comment[sv]=Läs och skriv KML-filer (Keyhole Markup Language)
Comment[uk]=Читання і запис файлів у форматі Keyhole Markup Language (KML).
Comment[x-test]=xxRead and write Keyhole Markup Language documents (KML)xx
Comment[zh_TW]=讀寫 Keyhole Markup Language 文件 (KML) 。
