[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=rocs/editorplugins
X-KDE-Library=assignvalues
X-KDE-PluginInfo-Name=rocs_assignvaluesplugin
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
Name=Assign Values Plugin
Name[bs]=Dodijeli vrijednosti
Name[ca]=Assigna valors
Name[ca@valencia]=Assigna valors
Name[cs]=Přiřadit hodnoty
Name[da]=Tildel værdier
Name[de]=Werte zuweisen
Name[el]=Ανάθεση τιμών
Name[es]=Asignar valores
Name[et]=Väärtuste omistamine
Name[fi]=Sijoita arvot
Name[fr]=Assigner des valeurs
Name[gl]=Asignar valores
Name[hu]=Érték-hozzárendelés
Name[it]=Assegna valori
Name[kk]=Мәндерін келтіру
Name[km]=ផ្ដល់​តម្លៃ
Name[ko]=값 할당
Name[lt]=Priskirti reikšmes
Name[lv]=Piesaistīt vērtības
Name[nb]=Tilordne verdier
Name[nds]=Weerten towiesen
Name[nl]=Waarden toekennen
Name[pl]=Przypisz wartości
Name[pt]=Atribuir Valores
Name[pt_BR]=Atribuir valores
Name[ru]=Присвоение значений
Name[sk]=Priradiť hodnoty
Name[sl]=Dodeli vrednosti
Name[sv]=Tilldela värden
Name[tr]=Değerleri Ata
Name[ug]=تەقسىملەنگەن قىممەتلەر
Name[uk]=Додавання значень
Name[x-test]=xxAssign Valuesxx
Name[zh_CN]=赋值
Name[zh_TW]=指定值
Comment=Assign values to graph edges and nodes.
Comment[bs]=Dodijeli vrijednosti ivicama i čvorovima grafa
Comment[ca]=Assigna valors a les arestes i nodes del graf.
Comment[ca@valencia]=Assigna valors a les arestes i nodes del graf.
Comment[da]=Tildel værdier til grafkanter og -knuder.
Comment[de]=Werte zu Graphenkanten und -knoten zuweisen.
Comment[el]=Ανάθεση τιμών στους κόμβους και στις ακμές του γραφήματος.
Comment[es]=Asignar valores a aristas de grafos y a nodos.
Comment[et]=Väärtuste omistamine graafi seostele ja tippudele.
Comment[fi]=Sijoita arvot graafin viivoihin ja solmuihin.
Comment[fr]=Assigne des valeurs aux arêtes et aux sommets d'un graphe.
Comment[gl]=Asigna valores ás arestas e vértices do gráfico.
Comment[hu]=Értékek hozzárendelése a gráf éleihez és csúcsaihoz.
Comment[it]=Assegna valori ad archi e nodi di un grafo.
Comment[kk]=Графтың қырлары мен төбелерінің әндерін келтіру.
Comment[km]=ផ្ដល់​តម្លៃ​ទៅ​គែម និង​ថ្នាំ​ក្រាហ្វ ។
Comment[ko]=그래프의 선과 점에 값을 할당합니다.
Comment[lv]=Piesaistīt vērtības grafa šķautnēm un mezgliem.
Comment[nb]=Tilordne verdier til grafkanter og noder.
Comment[nds]=Kanten un Knütten vun Graphen Weerten towiesen
Comment[nl]=Waarden toekennen aan randen en knooppunten van grafen.
Comment[pl]=Przypisz wartości krawędziom i węzłom grafu
Comment[pt]=Atribuir valores às arestas e nós do grafo.
Comment[pt_BR]=Atribuir valores às bordas e nós do grafo.
Comment[ru]=Присваивает значения рёбрам и вершинам графа.
Comment[sk]=Priradiť hodnoty k okrajom grafu a uzlom.
Comment[sl]=Povezavam in vozliščem grafa dodeli vrednosti.
Comment[sv]=Tilldela värden till grafkanter och noder.
Comment[tr]=Değerleri grafik kenarlarına ve düğümlerine ata
Comment[uk]=Додавання значень до ребер та вузлів графу.
Comment[x-test]=xxAssign values to graph edges and nodes.xx
Comment[zh_CN]=给图的边和节点赋值。
Comment[zh_TW]=指定值給圖形邊緣與節點。
