[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/DataStructurePlugin
X-KDE-Library=rocs_ListStructure
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=Linked List
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Rocs-DataStructureIdentifier=LinkedList
Name=Linked List
Name[bs]=Ulančana lista
Name[ca]=Llista enllaçada
Name[ca@valencia]=Llista enllaçada
Name[da]=Linket liste
Name[de]=Verkettete Liste
Name[el]=Συνδεδεμένη λίστα
Name[es]=Lista enlazada
Name[et]=Lingitud loend
Name[fi]=Linkitetty lista
Name[fr]=Liste chaînée
Name[gl]=Lista ligada
Name[hu]=Láncolt lista
Name[it]=Lista collegata
Name[kk]=Байланысқан тізім
Name[km]=បញ្ជី​ដែល​មាន​តំណ
Name[ko]=연결된 목록
Name[lv]=Saistīts saraksts
Name[mr]=लिंक केलेली यादी
Name[nb]=Lenket liste
Name[nds]=Verbunnen List
Name[nl]=Gekoppelde lijst
Name[pl]=Dowiązana lista
Name[pt]=Lista Ligada
Name[pt_BR]=Lista ligada
Name[ru]=Связанный список
Name[sk]=Prepojený zoznam
Name[sl]=Povezan seznam
Name[sv]=Länkad lista
Name[tr]=Bağlı Liste
Name[uk]=Зв’язний список
Name[x-test]=xxLinked Listxx
Name[zh_CN]=链表
Name[zh_TW]=鍊結串列
