[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/DataStructurePlugin
X-KDE-Library=rocs_GraphStructure
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=Graph
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Graph
Name[ast]=Graph
Name[bg]=Графика
Name[bs]=Graf
Name[ca]=Gràfica
Name[ca@valencia]=Gràfica
Name[cs]=Graf
Name[da]=Graf
Name[de]=Graph
Name[en_GB]=Graph
Name[es]=Grafo
Name[et]=Graaf
Name[fi]=Graafi
Name[fr]=Graphe
Name[ga]=Graf
Name[gl]=Grafo
Name[hu]=Gráf
Name[it]=Grafo
Name[ja]=グラフ
Name[kk]=График
Name[km]=ក្រាហ្វិក
Name[ko]=그래프
Name[lt]=Grafikas
Name[lv]=Grafs
Name[nb]=Graph
Name[nds]=Graph
Name[nl]=Graaf
Name[pa]=ਗਰਾਫ਼
Name[pl]=Graf
Name[pt]=Grafo
Name[pt_BR]=Grafo
Name[sv]=Graf
Name[ug]=گرافىك
Name[uk]=Граф
Name[x-test]=xxGraphxx
Name[zh_CN]=图
Name[zh_TW]=圖形
