[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=rocs/graphtheory/fileformat
X-KDE-Library=rocs1fileformat
X-KDE-PluginInfo-Name=rocs_rocs1fileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
Name=Rocs File Format (old)
Name[ca]=Format de fitxer del Rocs (antic)
Name[cs]=Formát souborů Rocs (starý)
Name[de]=Rocs-Dateiformat (veraltet)
Name[en_GB]=Rocs File Format (old)
Name[es]=Formato de archivo de Rocs (antiguo)
Name[fi]=Rocsin tiedostomuoto (vanha)
Name[fr]=Format de fichier Rocs (ancien)
Name[nl]=Rocs-bestandsformaat (oud)
Name[pl]=Format plików Rocs (stary)
Name[pt]=Formato de Ficheiros do Rocs (antigo)
Name[pt_BR]=Formato de arquivo do Rocs (antigo)
Name[ru]=Поддержка файлов графов Rocs 1 (старый формат)
Name[sk]=Formát súborov Rocs (starý)
Name[sl]=Vrsta datotek Rocs (stara)
Name[sv]=Rocs-filformat (gammalt)
Name[uk]=формат файлів Rocs (застарілий)
Name[x-test]=xxRocs File Format (old)xx
Name[zh_TW]=Rocs 檔案格式（舊）
Comment=Rocs Graph File Format (old)
Comment[ca]=Format de fitxers de grafs del Rocs (antic)
Comment[cs]=Formát souborů grafů Rocs (starý)
Comment[de]=Rocs-Graphendatei-Format (veraltet)
Comment[en_GB]=Rocs Graph File Format (old)
Comment[es]=Formato de archivo de grafos de Rocs (antiguo)
Comment[fi]=Rocsin graafitiedostomuoto (vanha)
Comment[fr]=Format de fichier de graphe Rocs (ancien)
Comment[nl]=Bestandsformaat voor Rocs Graph (oud)
Comment[pl]=Format plików grafów Rocs (stary)
Comment[pt]=Formato do Ficheiro de Grafos do Rocs (antigo)
Comment[pt_BR]=Formato de arquivo de grafo do Rocs (antigo)
Comment[ru]=Формат файлов графов Rocs 1 (старый формат)
Comment[sk]=Súborový formát grafu Rocs (starý)
Comment[sl]=Vrsta datotek z grafi Rocs (stara)
Comment[sv]=Rocs-graffilformat (gammalt)
Comment[uk]=формат файлів графів Rocs (застарілий)
Comment[x-test]=xxRocs Graph File Format (old)xx
Comment[zh_TW]=Rocs 圖形檔案格式（舊）
