[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Rocs/GraphFilePlugin
X-KDE-Derived=KPluginInfo
Comment=Rocs File Plugin
Comment[bs]=Rocs Datoteka dodatka
Comment[ca]=Endollable de fitxer del Rocs
Comment[ca@valencia]=Endollable de fitxer del Rocs
Comment[cs]=Zásuvný modul souborů Rocs
Comment[da]=Fil-plugin til Rocs
Comment[de]=Rocs-Datei-Modul
Comment[el]=Πρόσθετο αρχείων του Rocs
Comment[en_GB]=Rocs File Plugin
Comment[es]=Complemento de archivo para Rocs
Comment[et]=Rocsi failiplugin
Comment[fi]=Rocsin tiedostoliitännäinen
Comment[fr]=Module externe de fichiers Rocs
Comment[gl]=Engadido de ficheiros de Rocs
Comment[hu]=Rocs fájlbővítmény
Comment[it]=Estensione di file di Rocs
Comment[kk]=Rocs файлдар плагині
Comment[km]=កម្មវិធី​ជំនួយ​ឯកសារ Rocs
Comment[ko]=Rocs 파일 플러그인
Comment[lv]=Rocs faila spraudnis
Comment[mr]=रोक्स फाईल प्लगइन
Comment[nb]=Rocs fil-programtillegg
Comment[nds]=Dateimoduul för Rocs
Comment[nl]=Plugin voor Rocs-bestand
Comment[pl]=Wtyczka pliku Rocs
Comment[pt]='Plugin' de Ficheiros do Rocs
Comment[pt_BR]=Plugin de arquivo do Rocs
Comment[ru]=Модуль обработки файлов Rocs
Comment[sk]=Plugin súborov Rocs
Comment[sl]=Vstavek za datoteke Rocs
Comment[sv]=Rocs filinsticksprogram
Comment[tr]=Rocs Dosya Eklentisi
Comment[ug]=Rocs ھۆججەت قىستۇرمىسى
Comment[uk]=Додаток роботи з файлами Rocs
Comment[x-test]=xxRocs File Pluginxx
Comment[zh_CN]=Roc 文件插件
Comment[zh_TW]=Rocs 檔案外掛程式
