[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/FilePlugin
X-KDE-Library=rocs_GMLParser
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=Rocs GML file plugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=GML file
Name[en_GB]=GML file
Name[es]=Archivo GML
Name[nb]=GML-fil
Name[nds]=GML-Datei
Name[pt]=Ficheiro GML
Name[pt_BR]=Arquivo GML
Name[sv]=GML-fil
Name[uk]=Файл GML
Name[x-test]=xxGML filexx
Name[zh_TW]=GML 檔
Comment=Read and write GML files.
Comment[en_GB]=Read and write GML files.
Comment[es]=Leer y escribir archivos GML.
Comment[nb]=Les og skriv GML-filer.
Comment[nds]=GML-Dateien lesen un schrieven
Comment[pt]=Ler e gravar ficheiros GML.
Comment[pt_BR]=Ler e gravar arquivos GML.
Comment[sv]=Läs och skriv GML-filer.
Comment[uk]=Читання і запис файлів GML.
Comment[x-test]=xxRead and write GML files.xx
Comment[zh_TW]=讀寫 GML 檔。

