[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/FilePlugin
X-KDE-Library=rocs_GMLParser
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=Rocs GML file plugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=GML file
Name[bs]=GML datoteka
Name[ca]=Fitxer GML
Name[ca@valencia]=Fitxer GML
Name[cs]=Soubor GML
Name[da]=GML-fil
Name[de]=GML-Datei
Name[en_GB]=GML file
Name[es]=Archivo GML
Name[et]=GML-fail
Name[fi]=GML-tiedosto
Name[fr]=Fichier GML
Name[gl]=Ficheiro GML
Name[it]=File GML
Name[km]=ឯកសារ GML
Name[ko]=GML 파일
Name[lv]=GML fails
Name[nb]=GML-fil
Name[nds]=GML-Datei
Name[nl]=GML-bestand
Name[pa]=GML ਫਾਇਲ
Name[pt]=Ficheiro GML
Name[pt_BR]=Arquivo GML
Name[ru]=Файл GML
Name[sv]=GML-fil
Name[uk]=Файл GML
Name[x-test]=xxGML filexx
Name[zh_TW]=GML 檔
Comment=Read and write GML files.
Comment[bs]=Čitanje i pisanje GML datoteka
Comment[ca]=Llegeix i escriu fitxers GML.
Comment[ca@valencia]=Llig i escriu fitxers GML.
Comment[cs]=Čte a ukládá soubory GML.
Comment[da]=Læs og skriv GML-filer.
Comment[de]=GML-Dateien lesen und schreiben.
Comment[en_GB]=Read and write GML files.
Comment[es]=Leer y escribir archivos GML.
Comment[et]=GML-failide lugemine ja kirjutamine.
Comment[fr]=Lit et écrit des fichiers GML.
Comment[gl]=Ler e escribir ficheiros GML.
Comment[it]=Legge e scrive file GML.
Comment[km]=អាន និង​សរសេរ​ឯកសារ​ GML ។
Comment[ko]=GML 파일을 읽고 씁니다.
Comment[lv]=Lasa un raksta GML failus.
Comment[nb]=Les og skriv GML-filer.
Comment[nds]=GML-Dateien lesen un schrieven
Comment[nl]=Lezen en schrijven van GML-bestanden.
Comment[pt]=Ler e gravar ficheiros GML.
Comment[pt_BR]=Ler e gravar arquivos GML.
Comment[ru]=Чтение и запись в файл GML (Graph Markup Language)
Comment[sv]=Läs och skriv GML-filer.
Comment[uk]=Читання і запис файлів GML.
Comment[x-test]=xxRead and write GML files.xx
Comment[zh_TW]=讀寫 GML 檔。

