[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Rocs/GraphFilePlugin
X-KDE-Library=rocs_dotfileformat
X-KDE-PluginInfo-Author=Wagner Reck, Andreas Cord-Landwehr
X-KDE-PluginInfo-Name=rocs_dotfileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rocs DOT Graph File Plugin
Name[ca]=Endollable de fitxer gràfic DOT del Rocs
Name[cs]=Zásuvný modul souborů Rocs DOT Graph
Name[da]=DOT graffil-plugin til Rocs
Name[de]=DOT-Graphendateimodul für Rocs
Name[el]=Πρόσθετο αρχείων γράφων DOT του Rocs
Name[es]=Complemento de archivo de grafos DOT para Rocs
Name[et]=Rocsi DOT graafifaili plugin
Name[fi]=Rocsin DOT-graafitiedostoliitännäinen
Name[hu]=Rocs DOT gráf fájl bővítmény
Name[it]=Estensione per file di grafi DOT di Rocs
Name[kk]=Rocs DOT граф файлдар плагині
Name[nb]=Rocs programtillegg for DOT-graf-fil
Name[nl]=Plugin voor Rocs DOT grafiekbestand
Name[pl]=Wtyczka pliku grafu Rocs DOT
Name[pt]='Plugin' de Grafos em DOT do Rocs
Name[pt_BR]=Plugin de arquivo de grafo DOT do Rocs
Name[sk]=Grafický súborový plugin Rocs DOT
Name[sl]=Vstavek datotek grafov DOT za Rocs
Name[sv]=Rocs insticksprogram för DOT-graffil
Name[uk]=Додаток роботи з файлами графів DOT Rocs
Name[x-test]=xxRocs DOT Graph File Pluginxx
Name[zh_TW]=Rocs DOT 圖形檔外掛程式
Comment=Read and write Graphviz graph documents (DOT)
Comment[ca]=Llegeix i escriu documents gràfics del Graphviz (DOT).
Comment[cs]=Čte a ukládá soubory grafů Graphviz.(DOT)
Comment[da]=Læs og skriv Graphviz grafdokumenter (DOT)
Comment[de]=Graphviz-Graphendokumente (DOT) lesen und schreiben
Comment[el]=Ανάγνωση και εγγραφή εγγράφων γράφων Graphviz (DOT)
Comment[es]=Leer y escribir documentos de grafos Graphviz (DOT)
Comment[et]=Graphvizi graafifailide (DOT) lugemine ja kirjutamine.
Comment[fi]=Lukee ja kirjoittaa Graphviz-graafitiedostoja (DOT)
Comment[ga]=Léigh agus scríobh cáipéisí graif Graphviz (DOT)
Comment[hu]=Graphviz gráfdokumentumok (DOT) olvasása és írása
Comment[it]=Leggi e scrivi i grafi Graphviz (DOT)
Comment[kk]=Graphviz (DOT) граф құжаттар файлдарын жазу және оқу
Comment[nb]=Les og skriv Graphviz grafdokumenter (DOT)
Comment[nl]=Lezen en schrijven van Graphviz grafiekbestanden (DOT)
Comment[pl]=Czytaj i zapisuj dokumenty grafów Graphviz (DOT)
Comment[pt]=Ler e gravar documentos de grafos do Graphviz (DOT)
Comment[pt_BR]=Ler e gravar documentos de grafo do Graphviz (DOT)
Comment[sk]=Čítanie a zápis grafických dokumentov Graphviz (DOT)
Comment[sl]=Branje in pisanje dokumentov grafov Graphviz (DOT)
Comment[sv]=Läs och skriv Graphviz-grafdokument (DOT).
Comment[uk]=Читання і запис файлів документів графів Graphviz (DOT)
Comment[x-test]=xxRead and write Graphviz graph documents (DOT)xx
Comment[zh_TW]=讀寫 Graphviz 圖形檔 (DOT)。
