[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/ToolPlugin
X-KDE-Library=rocs_transformedgesplugin
X-KDE-PluginInfo-Author=Andreas Cord-Landwehr
X-KDE-PluginInfo-Email=cola@uni-paderborn.de
X-KDE-PluginInfo-Name=Transform Edges Rocs Tool Plugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/rocs/
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Transform Edges
Name[bs]=Trasformiši ivice
Name[ca]=Transforma les arestes
Name[da]=Transformér kanter
Name[es]=Transformar aristas
Name[et]=Seoste teisendamine
Name[nb]=Omform kanter
Name[nl]=Kanten transformeren
Name[pt]=Transformar as Arestas
Name[pt_BR]=Transformar os cantos
Name[sv]=Transformera kanter
Name[uk]=Перетворення ребер
Name[x-test]=xxTransform Edgesxx
Name[zh_TW]=轉換邊緣
Comment=Transform graph edges by a transformation rule.
Comment[bs]=Trasformiši grafičke ivice pravilom transformacije
Comment[ca]=Transforma les arestes del graf seguint una regla de transformació.
Comment[da]=Transformér grafkanter efter en transformationsregel.
Comment[es]=Transforma las aristas del grafo usando una regla de transformación.
Comment[et]=Graafi seoste teisendamine vastava reegli järgi.
Comment[nb]=Omform grafkanter ved en transformasjonsregel.
Comment[nl]=Kanten van de graaf volgens een bepaalde regel transformeren.
Comment[pt]=Transformar as arestas do grafo de acordo com uma regra de transformação.
Comment[pt_BR]=Transformar os cantos do grafo de acordo com uma regra de transformação.
Comment[sv]=Transformerar grafernas kanter med en transformeringsregel.
Comment[uk]=Перетворити ребра графу за правилом перетворення.
Comment[x-test]=xxTransform graph edges by a transformation rule.xx
Comment[zh_TW]=依轉換規則來轉換圖形邊緣。
