[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/DataStructurePlugin
X-KDE-Library=rocs_RootedTreeStructure
X-KDE-PluginInfo-Name=RootedTree
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://edu.kde.org/rocs
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Comment=RootedTree
Comment[ast]=RootedTree
Comment[bg]=RootedTree
Comment[bs]=RootedTree
Comment[ca]=RootedTree
Comment[ca@valencia]=RootedTree
Comment[cs]=RootedTree
Comment[da]=RootedTree
Comment[de]=RootedTree
Comment[el]=RootedTree
Comment[en_GB]=RootedTree
Comment[es]=RootedTree
Comment[et]=RootedTree
Comment[fi]=RootedTree
Comment[fr]=RootedTree
Comment[ga]=RootedTree
Comment[gl]=RootedTree
Comment[hu]=RootedTree
Comment[it]=RootedTree
Comment[kk]=RootedTree
Comment[km]=RootedTree
Comment[ko]=RootedTree
Comment[lv]=RootedTree
Comment[nb]=RootedTree
Comment[nds]=RootedTree
Comment[nl]=RootedTree
Comment[nn]=RootedTree
Comment[pa]=RootedTree
Comment[pl]=RootedTree
Comment[pt]=RootedTree
Comment[pt_BR]=RootedTree
Comment[ru]=RootedTree
Comment[sr]=RootedTree
Comment[sr@ijekavian]=RootedTree
Comment[sr@ijekavianlatin]=RootedTree
Comment[sr@latin]=RootedTree
Comment[sv]=RootedTree
Comment[tr]=RootedTree
Comment[ug]=RootedTree
Comment[uk]=RootedTree
Comment[x-test]=xxRootedTreexx
Comment[zh_CN]=RootedTree
Comment[zh_TW]=RootedTree
Name=RootedTree
Name[ast]=RootedTree
Name[bg]=RootedTree
Name[bs]=RootedTree
Name[ca]=RootedTree
Name[ca@valencia]=RootedTree
Name[cs]=RootedTree
Name[da]=RootedTree
Name[de]=RootedTree
Name[el]=RootedTree
Name[en_GB]=RootedTree
Name[eo]=RootedTree
Name[es]=RootedTree
Name[et]=RootedTree
Name[fi]=RootedTree
Name[fr]=RootedTree
Name[ga]=RootedTree
Name[gl]=RootedTree
Name[hu]=RootedTree
Name[it]=RootedTree
Name[ja]=RootedTree
Name[kk]=RootedTree
Name[km]=RootedTree
Name[ko]=RootedTree
Name[lv]=RootedTree
Name[nb]=RootedTree
Name[nds]=RootedTree
Name[nl]=RootedTree
Name[nn]=RootedTree
Name[pa]=RootedTree
Name[pl]=RootedTree
Name[pt]=RootedTree
Name[pt_BR]=RootedTree
Name[ro]=RootedTree
Name[ru]=RootedTree
Name[sq]=RootedTree
Name[sr]=RootedTree
Name[sr@ijekavian]=RootedTree
Name[sr@ijekavianlatin]=RootedTree
Name[sr@latin]=RootedTree
Name[sv]=RootedTree
Name[tr]=RootedTree
Name[ug]=RootedTree
Name[uk]=RootedTree
Name[x-test]=xxRootedTreexx
Name[zh_CN]=RootedTree
Name[zh_TW]=RootedTree
GenericName=RootedTree
GenericName[ast]=RootedTree
GenericName[bg]=RootedTree
GenericName[bs]=RootedTree
GenericName[ca]=RootedTree
GenericName[ca@valencia]=RootedTree
GenericName[cs]=RootedTree
GenericName[da]=RootedTree
GenericName[de]=RootedTree
GenericName[el]=RootedTree
GenericName[en_GB]=RootedTree
GenericName[es]=RootedTree
GenericName[et]=RootedTree
GenericName[fi]=RootedTree
GenericName[fr]=RootedTree
GenericName[ga]=RootedTree
GenericName[gl]=RootedTree
GenericName[hu]=RootedTree
GenericName[it]=RootedTree
GenericName[kk]=RootedTree
GenericName[km]=RootedTree
GenericName[ko]=RootedTree
GenericName[lv]=RootedTree
GenericName[nb]=RootedTree
GenericName[nds]=RootedTree
GenericName[nl]=RootedTree
GenericName[nn]=RootedTree
GenericName[pa]=RootedTree
GenericName[pl]=RootedTree
GenericName[pt]=RootedTree
GenericName[pt_BR]=RootedTree
GenericName[ru]=RootedTree
GenericName[sr]=RootedTree
GenericName[sr@ijekavian]=RootedTree
GenericName[sr@ijekavianlatin]=RootedTree
GenericName[sr@latin]=RootedTree
GenericName[sv]=RootedTree
GenericName[tr]=RootedTree
GenericName[ug]=RootedTree
GenericName[uk]=RootedTree
GenericName[x-test]=xxRootedTreexx
GenericName[zh_CN]=RootedTree
GenericName[zh_TW]=RootedTree
