[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/DataStructurePlugin
X-KDE-Library=rocs_RootedTreeStructure
X-KDE-PluginInfo-Name=RootedTree
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://edu.kde.org/rocs
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Comment=RootedTree
Comment[es]=Árbol con raíz
Comment[nl]=Boomstructuur
Comment[pt]=Árvore com Raiz
Comment[pt_BR]=Árvore com raiz
Comment[sv]=Rotat träd
Comment[uk]=Кореневе дерево
Comment[x-test]=xxRootedTreexx
Comment[zh_TW]=樹狀結構
Name=RootedTree
Name[es]=Árbol con raíz
Name[nl]=Boomstructuur
Name[pt]=Árvore com Raiz
Name[pt_BR]=Árvore com raiz
Name[sv]=Rotat träd
Name[uk]=Кореневе дерево
Name[x-test]=xxRootedTreexx
Name[zh_TW]=樹狀結構
GenericName=RootedTree
GenericName[es]=Árbol con raíz
GenericName[nl]=Boomstructuur
GenericName[pt]=Árvore com Raiz
GenericName[pt_BR]=Árvore com raiz
GenericName[sv]=Rotat träd
GenericName[uk]=Кореневе дерево
GenericName[x-test]=xxRootedTreexx
GenericName[zh_TW]=樹狀結構
