[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/DataStructurePlugin
X-KDE-Library=rocs_RootedTreeStructure
X-KDE-PluginInfo-Name=Rooted Tree
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://edu.kde.org/rocs
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Rocs-DataStructureIdentifier=RootedTree
Name=Rooted Tree
Name[ca]=Arbre arrelat
Name[da]=Træ med rod
Name[de]=Wurzelbaum
Name[es]=Árbol con raíz
Name[et]=Juurega puu
Name[fi]=Juurellinen puu
Name[fr]=Arbre enraciné
Name[gl]=Árbore con raíz
Name[hu]=Gyökeres fa
Name[it]=Albero con radice
Name[kk]=Түбірленген бұтақ
Name[km]=មែកធាង​ជា Rooted
Name[lv]=Iesakņots koks
Name[nb]=Tre med rot
Name[nl]=Boomstructuur met basis
Name[pl]=Główne drzewo
Name[pt]=Árvore com Raiz
Name[pt_BR]=Árvore com raiz
Name[sl]=Drevo s korenom
Name[sv]=Rotat träd
Name[uk]=Кореневе дерево
Name[x-test]=xxRooted Treexx
Name[zh_TW]=有根的樹狀圖
