[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Rocs/GraphFilePlugin
X-KDE-Library=rocs_gmlfileformat
X-KDE-PluginInfo-Author=Wagner Reck, Andreas Cord-Landwehr
X-KDE-PluginInfo-Name=rocs_gmlfileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rocs GML Graph File Plugin
Name[bs]=Rocs GML grafička datoteka dodatka
Name[ca]=Endollable de fitxer gràfic GML del Rocs
Name[ca@valencia]=Endollable de fitxer gràfic GML del Rocs
Name[cs]=Zásuvný modul souborů Rocs GML
Name[da]=GML graffil-plugin til Rocs
Name[de]=GML-Graphendateimodul für Rocs
Name[el]=Πρόσθετο αρχείων γράφων GML του Rocs
Name[es]=Complemento de archivo de grafos GML para Rocs
Name[et]=Rocsi GML graafifaili plugin
Name[fi]=Rocsin GML-graafitiedostoliitännäinen
Name[fr]=Module externe de fichiers de graphe Rocs GML
Name[gl]=Engadido de ficheiros de gráficos GML de Rocs
Name[hu]=Rocs GML gráf fájl bővítmény
Name[it]=Estensione per file di grafi GML di Rocs
Name[kk]=Rocs GML граф файлдар плагині
Name[km]=កម្មវិធី​ជំនួយ​ឯកសារ​ក្រាហ្វ Rocs GML
Name[nb]=Rocs GML graf-fil-programtillegg
Name[nl]=Plugin voor Rocs GML grafiekbestand
Name[pl]=Wtyczka plików grafów Rocs GML
Name[pt]='Plugin' de Grafos em GML do Rocs
Name[pt_BR]=Plugin de arquivo de grafo GML do Rocs
Name[sk]=Grafický súborový plugin Rocs
Name[sl]=Vstavek datotek grafov GML za Rocs
Name[sv]=Rocs insticksprogram för GML-graffil
Name[tr]=Rocs GML Grafik Dosya Eklentisi
Name[uk]=Додаток роботи з файлами графів GML Rocs
Name[x-test]=xxRocs GML Graph File Pluginxx
Name[zh_TW]=Rocs GML 圖形檔案外掛程式
Comment=Read and write Graph Markup Language documents (GML)
Comment[bs]=Čitanje i pisanje datoteka u jeziku za označavanje graf dokumenata (GML)
Comment[ca]=Llegeix i escriu fitxers escrits en Llenguatge de Marcatge de Gràfics (GML)
Comment[ca@valencia]=Llig i escriu fitxers escrits en Llenguatge de Marcatge de Gràfics (GML)
Comment[cs]=Číst a ukládat dokumenty Graph Markup Language (GML)
Comment[da]=Læs og skriv dokumenter i Graph Markup Language-format (GML)
Comment[de]=Dokumente im Format „Graph Markup Language“ (GML) lesen und schreiben
Comment[el]=Ανάγνωση και εγγραφή αρχείων της γλώσσας σήμανσης γράφων (GML)
Comment[es]=Leer y escribir documentos del lenguaje de marcas de grafos (GML)
Comment[et]=GML (Graph Markup Language) dokumentide lugemine ja kirjutamine.
Comment[fi]=Lukee ja kirjoittaa Graph Markup Language (GML) -tiedostoja
Comment[fr]=Lit et écrit des documents au format « Graph Markup Language » (GML)
Comment[gl]=Le e escribe documentos na linguaxe de etiquetaxe de gráficos (GML)
Comment[hu]=Gráf jelölő nyelv dokumentumok (GML) olvasása és írása
Comment[it]=Leggi e scrivi i documenti scritti in Graph Markup Language (GML)
Comment[kk]=Graph Markup Language (GML) файлдарын жазу және оқу
Comment[km]=អាន​ និង​សរសេរ​ឯកសារ Graph Markup Language (GML)
Comment[nb]=Les og skriv dokumenter i Graph Markup Language (GML)
Comment[nl]=Lezen en schrijven van Graph Markup Language documenten (GML)
Comment[pl]=Czytaj i zapisuj dokumenty Graph Markup Language (GML)
Comment[pt]=Ler e gravar ficheiros no formato GML (Graph Markup Language)
Comment[pt_BR]=Ler e gravar documentos no formato Graph Markup Language (GML).
Comment[sk]=Čítanie a zápis dokumentov Graph Markup Language (GML)
Comment[sl]=Branje in pisanje dokumentov grafov Graph Markup Language (GML)
Comment[sv]=Läs och skriv GML-dokument (Graph Markup Language)
Comment[tr]=Graph İşaret Dili belgelerini oku ve yaz (GML)
Comment[uk]=Читання і запис файлів у форматі Graph Markup Language (GML).
Comment[x-test]=xxRead and write Graph Markup Language documents (GML)xx
Comment[zh_TW]=讀寫 Graph Markup Language 文件 (GML) 。
