[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Rocs/GraphFilePlugin
X-KDE-Library=rocs_gmlfileformat
X-KDE-PluginInfo-Author=Wagner Reck, Andreas Cord-Landwehr
X-KDE-PluginInfo-Name=rocs_gmlfileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rocs GML Graph File Plugin
Name[cs]=Zásuvný modul souborů Rocs GML
Name[el]=Πρόσθετο αρχείων γράφων GML του Rocs
Name[es]=Complemento de archivo de grafos GML para Rocs
Name[et]=Rocsi GML graafifaili plugin
Name[fi]=Rocsin GML-graafitiedostoliitännäinen
Name[hu]=Rocs GML gráf fájl bővítmény
Name[nb]=Rocs GML graf-fil-programtillegg
Name[nl]=Plugin voor Rocs GML grafiekbestand
Name[pt]='Plugin' de Grafos em GML do Rocs
Name[pt_BR]=Plugin de arquivo de grafo GML do Rocs
Name[sk]=Grafický súborový plugin Rocs
Name[sv]=Rocs insticksprogram för GML-graffil
Name[uk]=Додаток роботи з файлами графів GML Rocs
Name[x-test]=xxRocs GML Graph File Pluginxx
Name[zh_TW]=Rocs GML 圖形檔案外掛程式
Comment=Read and write Graph Markup Language documents (GML)
Comment[cs]=Číst a ukládat dokumenty Graph Markup Language (GML)
Comment[el]=Ανάγνωση και εγγραφή αρχείων της γλώσσας σήμανσης γράφων (GML)
Comment[es]=Leer y escribir documentos del lenguaje de marcas de grafos (GML)
Comment[et]=GML (Graph Markup Language) dokumentide lugemine ja kirjutamine.
Comment[fi]=Lukee ja kirjoittaa Graph Markup Language (GML) -tiedostoja
Comment[hu]=Gráf jelölő nyelv dokumentumok (GML) olvasása és írása
Comment[nb]=Les og skriv dokumenter i Graph Markup Language (GML)
Comment[nl]=Lezen en schrijven van Graph Markup Language documenten (GML)
Comment[pt]=Ler e gravar ficheiros no formato GML (Graph Markup Language)
Comment[pt_BR]=Ler e gravar documentos no formato Graph Markup Language (GML).
Comment[sk]=Čítanie a zápis dokumentov Graph Markup Language (GML)
Comment[sv]=Läs och skriv GML-dokument (Graph Markup Language)
Comment[uk]=Читання і запис файлів у форматі Graph Markup Language (GML).
Comment[x-test]=xxRead and write Graph Markup Language documents (GML)xx
Comment[zh_TW]=讀寫 Graph Markup Language 文件 (GML) 。
