[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/GraphFilePlugin
X-KDE-Library=rocs_tgffileformat
X-KDE-PluginInfo-Author=Rocs Develops
X-KDE-PluginInfo-Email=rocs-devel@kde.org
X-KDE-PluginInfo-Name=Rocs PlainTxt Fileplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://edu.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL2+
X-KDE-PluginInfo-EnabledByDefault=true
Name=TGF File Format Plugin
Comment=Read and write graph documents in Trivial Graph Format