[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Rocs/GraphFilePlugin
X-KDE-Library=rocs_tgffileformat
X-KDE-PluginInfo-Author=Wagner Reck, Andreas Cord-Landwehr
X-KDE-PluginInfo-Name=rocs_tgffileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rocs TGF Graph File Plugin
Name[bs]=Rocs TGF Datoteka grafičkih dodatka
Name[ca]=Endollable de fitxer gràfic TGF del Rocs
Name[cs]=Zásuvný modul souborů Rocs TGF
Name[da]=TGF graffil-plugin til Rocs
Name[de]=TGF-Graphendateimodul für Rocs
Name[el]=Πρόσθετο αρχείων γράφων TGF του Rocs
Name[es]=Complemento de archivo de grafos TGF para Rocs
Name[et]=Rocsi TGF graafifaili plugin
Name[fi]=Rocsin TGF-graafitiedostoliitännäinen
Name[gl]=Engadido de ficheiros de gráficos de TGF
Name[hu]=Rocs TGF gráf fájl bővítmény
Name[it]=Estensione per file di grafi TGF di Rocs
Name[nb]=Rocs TGF graf-fil-programtillegg
Name[nl]=Plugin voor Rocs TGF grafiekbestand
Name[pl]=Wtyczka pliku grafu Rocs TGF
Name[pt]='Plugin' de Grafos em TGF do Rocs
Name[pt_BR]=Plugin de arquivo de grafo TGF do Rocs
Name[sk]=Grafický súborový plugin Rocs TGF
Name[sl]=Vstavek datotek grafov TGF za Rocs
Name[sv]=Rocs insticksprogram för TGF-graffil
Name[uk]=Додаток роботи з файлами графів TGF Rocs
Name[x-test]=xxRocs TGF Graph File Pluginxx
Name[zh_TW]=Rocs TGF 檔案外掛程式
Comment=Read and write graph documents in Trivial Graph Format (TGF)
Comment[ca]=Llegeix i escriu fitxers escrits en Format Gràfic Trivial (TGF)
Comment[da]=Læs og skriv grafdokumenter i Trivial Graph-format (TGF)
Comment[de]=Dokumente im Format „Trivial Graph“ (TGF) lesen und schreiben
Comment[el]=Ανάγνωση και εγγραφή αρχείων γράφων σε μορφή Trivial Graph (TGF)
Comment[es]=Leer y escribir documentos de grafos en el formato de grafos Trivial (TGF)
Comment[et]=TGF (Trivial Graph Format) vormingus graafidokumentide lugemine ja kirjutamine
Comment[fi]=Lukee ja kirjoittaa Trivial Graph Format (TGF) -muotoisia graafitiedostoja
Comment[gl]=Le e escribe documentos gráficos co Trivial Graph Format (TGF)
Comment[hu]=Gráfdokumentumok olvasása és írása Triviális gráf formátumban (TGF)
Comment[it]=Leggi e scrivi i documenti scritti in Trivial Graph Format (TGF)
Comment[nb]=Les og skriv grafdokumenter i Trivial Graph Format (TGF)
Comment[nl]=Lezen en schrijven van Trivial Graph Format documenten (TGF)
Comment[pl]=Czytaj i zapisuj dokumenty grafów w Trivial Graph Format (TGF)
Comment[pt]=Ler e gravar documentos de grafos no formato TGF (Trivial Graph Format)
Comment[pt_BR]=Ler e gravar documentos no formato Trivial Graph Format (TGF)
Comment[sk]=Čítať a zapisovať grafické dokumenty v triviálnom grafickom formáte (TGF)
Comment[sl]=Branje in pisanje dokumentov grafov Trivial Graph Format (TGF)
Comment[sv]=Läs och skriv grafdokument med Trivial Graph-format (TGF)
Comment[uk]=Читання і запис документів графів у форматі звичайного графу (TGF)
Comment[x-test]=xxRead and write graph documents in Trivial Graph Format (TGF)xx
Comment[zh_TW]=讀寫 Trivial Graph Format (TGF) 格式的圖形檔。
