[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=rocs/graphtheory/fileformat
X-KDE-Library=gmlfileformat
X-KDE-PluginInfo-Name=rocs_gmlfileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
Name=GML File Format
Name[ast]=Formatu de ficheru GML
Name[ca]=Format de fitxer GML
Name[cs]=Formát souboru GML
Name[de]=GML-Dateiformat
Name[en_GB]=GML File Format
Name[es]=Formato de archivo GML
Name[fi]=GML-tiedostomuoto
Name[fr]=Format de fichier GML
Name[gl]=Formato de ficheiro GML
Name[nl]=GML-bestandsformaat
Name[pl]=Format pliku GML
Name[pt]=Formato de Ficheiros GML
Name[pt_BR]=Formato de arquivo GML
Name[ru]=Поддержка файлов графов GML
Name[sk]=Formát súborov GML
Name[sl]=Vrsta datotek GML
Name[sv]=GML-filformat
Name[tr]=GML Dosya Biçimi
Name[uk]=формат файлів GML
Name[x-test]=xxGML File Formatxx
Name[zh_TW]=GML 檔案格式
Comment=Read and write Graph Markup Language documents (GML)
Comment[ast]=Llee y escribe documentos del llinguax de marques de grafos (GML)
Comment[bs]=Čitanje i pisanje datoteka u jeziku za označavanje graf dokumenata (GML)
Comment[ca]=Llegeix i escriu fitxers escrits en Llenguatge de Marcatge de Gràfics (GML)
Comment[ca@valencia]=Llig i escriu fitxers escrits en Llenguatge de Marcatge de Gràfics (GML)
Comment[cs]=Číst a ukládat dokumenty Graph Markup Language (GML)
Comment[da]=Læs og skriv dokumenter i Graph Markup Language-format (GML)
Comment[de]=Dokumente im Format „Graph Markup Language“ (GML) lesen und schreiben
Comment[el]=Ανάγνωση και εγγραφή αρχείων της γλώσσας σήμανσης γράφων (GML)
Comment[en_GB]=Read and write Graph Markup Language documents (GML)
Comment[es]=Leer y escribir documentos del lenguaje de marcas de grafos (GML)
Comment[et]=GML (Graph Markup Language) dokumentide lugemine ja kirjutamine.
Comment[fi]=Lukee ja kirjoittaa Graph Markup Language (GML) -tiedostoja
Comment[fr]=Lit et écrit des documents au format « Graph Markup Language » (« GML »)
Comment[gl]=Le e escribe documentos na linguaxe de etiquetaxe de gráficos (GML)
Comment[hu]=Gráf jelölő nyelv dokumentumok (GML) olvasása és írása
Comment[it]=Leggi e scrivi i documenti scritti in Graph Markup Language (GML)
Comment[kk]=Graph Markup Language (GML) файлдарын жазу және оқу
Comment[km]=អាន​ និង​សរសេរ​ឯកសារ​ Graph Markup ។
Comment[ko]=Graph 마크업 언어(GML) 파일을 읽고 쓰기
Comment[nb]=Les og skriv dokumenter i Graph Markup Language (GML)
Comment[nds]="Graph Markup Language (GML)"-Dateien lesen un schrieven
Comment[nl]=Lezen en schrijven van Graph Markup Language documenten (GML)
Comment[pl]=Czytaj i zapisuj dokumenty Graph Markup Language (GML)
Comment[pt]=Ler e gravar ficheiros no formato GML (Graph Markup Language)
Comment[pt_BR]=Lê e grava documentos no formato Graph Markup Language (GML)
Comment[ru]=Читает и записывает документы GML (язык разметки графов)
Comment[sk]=Čítanie a zápis dokumentov Graph Markup Language (GML)
Comment[sl]=Branje in pisanje dokumentov grafov Graph Markup Language (GML)
Comment[sv]=Läs och skriv GML-dokument (Graph Markup Language)
Comment[tr]=Graph İşaret Dili belgelerini oku ve yaz (GML)
Comment[uk]=Читання і запис файлів у форматі Graph Markup Language (GML).
Comment[x-test]=xxRead and write Graph Markup Language documents (GML)xx
Comment[zh_TW]=讀寫 Graph Markup Language 文件 (GML) 。
