[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/DataStructurePlugin
X-KDE-Library=rocs_RootedTreeStructure
X-KDE-PluginInfo-Name=Rooted Tree
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://edu.kde.org/rocs
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Rocs-DataStructureIdentifier=RootedTree
Name=Rooted Tree
Name[bs]=Stablo s korijenom
Name[ca]=Arbre arrelat
Name[ca@valencia]=Arbre arrelat
Name[da]=Træ med rod
Name[de]=Wurzelbaum
Name[el]=Ριζωμένο δέντρο
Name[en_GB]=Rooted Tree
Name[es]=Árbol con raíz
Name[fi]=Juurellinen puu
Name[fr]=Arborescence
Name[gl]=Árbore con raíz
Name[hu]=Gyökeres fa
Name[it]=Albero con radice
Name[kk]=Түбірленген бұтақ
Name[km]=មែកធាង​ជា Rooted
Name[ko]=루트가 있는 트리
Name[lv]=Iesakņots koks
Name[nb]=Tre med rot
Name[nds]=Wörtelboom
Name[nl]=Boomstructuur met basis
Name[pl]=Główne drzewo
Name[pt]=Árvore com Raiz
Name[pt_BR]=Árvore com raiz
Name[ru]=Дерево с корнем
Name[sk]=Korene stromu
Name[sl]=Drevo s korenom
Name[sv]=Rotat träd
Name[tr]=Kök Ağacı
Name[uk]=Кореневе дерево
Name[x-test]=xxRooted Treexx
Name[zh_TW]=有根的樹狀圖
