[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/ToolPlugin
X-KDE-Library=rocs_assignvaluesplugin
X-KDE-PluginInfo-Author=Andreas Cord-Landwehr
X-KDE-PluginInfo-Email=cola@uni-paderborn.de
X-KDE-PluginInfo-Name=Assign Values Rocs Tool Plugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/rocs/
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Assign Values
Name[bs]=Dodijeli vrijednosti
Name[ca]=Assigna valors
Name[ca@valencia]=Assigna valors
Name[da]=Tildel værdier
Name[de]=Werte zuweisen
Name[es]=Asignar valores
Name[et]=Väärtuste omistamine
Name[it]=Assegna valori
Name[km]=ផ្ដល់​តម្លៃ
Name[ko]=값 할당
Name[lv]=Piesaistīt vērtības
Name[nb]=Tilordne verdier
Name[nds]=Weerten towiesen
Name[nl]=Waarden toekennen
Name[pt]=Atribuir Valores
Name[pt_BR]=Atribuir valores
Name[sv]=Tilldela värden
Name[uk]=Додавання значень
Name[x-test]=xxAssign Valuesxx
Name[zh_TW]=指定值
Comment=Assign values to graph edges and nodes.
Comment[bs]=Dodijeli vrijednosti ivicama i čvorovima grafa
Comment[ca]=Assigna valors a les arestes i nodes del graf.
Comment[ca@valencia]=Assigna valors a les arestes i nodes del graf.
Comment[da]=Tildel værdier til grafkanter og -knuder.
Comment[de]=Werte zu Graphenkanten und -knoten zuweisen.
Comment[es]=Asignar valores a aristas de grafos y a nodos.
Comment[et]=Väärtuste omistamine graafi seostele ja tippudele.
Comment[it]=Assegna valori ad archi e nodi di un grafo.
Comment[km]=ផ្ដល់​តម្លៃ​ទៅ​គែម និង​ថ្នាំ​ក្រាហ្វ ។
Comment[ko]=그래프의 선과 점에 값을 할당합니다.
Comment[lv]=Piesaistīt vērtības grafa šķautnēm un mezgliem.
Comment[nb]=Tilordne verdier til grafkanter og noder.
Comment[nl]=Waarden toekennen aan randen en knooppunten van grafen.
Comment[pt]=Atribuir valores às arestas e nós do grafo.
Comment[pt_BR]=Atribuir valores às bordas e nós do grafo.
Comment[sv]=Tilldela värden till grafkanter och noder.
Comment[uk]=Додавання значень до ребер та вузлів графу.
Comment[x-test]=xxAssign values to graph edges and nodes.xx
Comment[zh_TW]=指定值給圖形邊緣與節點。
