[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=rocs/graphtheory/fileformat
X-KDE-Library=rocs2fileformat
X-KDE-PluginInfo-Name=rocs_rocs2fileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
Name=Rocs File Format
Name[ast]=Formatu de ficheru Rocs
Name[ca]=Format de fitxer del Rocs
Name[cs]=Formát souborů Rocs
Name[de]=Rocs-Dateiformat
Name[en_GB]=Rocs File Format
Name[es]=Formato de archivo de Rocs
Name[fi]=Rocsin tiedostomuoto
Name[fr]=Format de fichier Rocs
Name[gl]=Formato de ficheiro de Rocs
Name[nl]=Rocs-bestandsformaat
Name[pl]=Format plików Rocs
Name[pt]=Formato de Ficheiros do Rocs
Name[pt_BR]=Formato de arquivo do Rocs
Name[ru]=Поддержка файлов графов Rocs
Name[sk]=Súborový formát Rocs
Name[sl]=Vrsta datotek Rocs
Name[sv]=Rocs-filformat
Name[tr]=Rocs Dosya Biçimi
Name[uk]=формат файлів Rocs
Name[x-test]=xxRocs File Formatxx
Name[zh_TW]=Rocs 檔案格式
Comment=Rocs Graph File Format
Comment[ast]=Formatu de ficheru de grafos Rocs
Comment[ca]=Format de fitxers de grafs del Rocs
Comment[cs]=Formát souborů grafů Rocs
Comment[de]=Rocs-Graphendatei-Format
Comment[en_GB]=Rocs Graph File Format
Comment[es]=Formato de archivo de grafos de Rocs
Comment[fi]=Rocsin graafitiedostomuoto
Comment[fr]=Format de fichier de graphe Rocs
Comment[gl]=Formato de ficheiro de gráficos de Rocs
Comment[nl]=Bestandsformaat voor Rocs Graph
Comment[pl]=Format plików grafów Rocs
Comment[pt]=Formato de Ficheiros de Grafos do Rocs
Comment[pt_BR]=Formato de arquivo de grafo do Rocs
Comment[ru]=Формат файлов графов Rocs
Comment[sk]=Súborový formát grafi Rocs
Comment[sl]=Vrsta datotek z grafi Rocs
Comment[sv]=Rocs-graffilformat
Comment[tr]=Rocs Grafik Dosya Biçimi
Comment[uk]=формат файлів графів Rocs
Comment[x-test]=xxRocs Graph File Formatxx
Comment[zh_TW]=Rocs 圖形檔案格式

