[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=rocs/graphtheory/fileformat
X-KDE-Library=rocs2fileformat
X-KDE-PluginInfo-Name=rocs_rocs2fileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
Name=Rocs File Format
Name[de]=Rocs-Dateiformat
Name[es]=Formato de archivo de Rocs
Name[nl]=Rocs-bestandsformaat
Name[pt]=Formato de Ficheiros do Rocs
Name[pt_BR]=Formato de arquivo do Rocs
Name[sk]=Súborový formát Rocs
Name[uk]=формат файлів Rocs
Name[x-test]=xxRocs File Formatxx
Comment=Rocs Graph File Format
Comment[de]=Rocs-Graphendatei-Format
Comment[es]=Formato de archivo de grafos de Rocs
Comment[nl]=Bestandsformaat voor Rocs Graph
Comment[pt]=Formato de Ficheiros de Grafos do Rocs
Comment[pt_BR]=Formato de arquivo de grafo do Rocs
Comment[sk]=Súborový formát grafi Rocs
Comment[uk]=формат файлів графів Rocs
Comment[x-test]=xxRocs Graph File Formatxx

