[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=rocs/graphtheory/fileformat
X-KDE-Library=tikzfileformat
X-KDE-PluginInfo-Name=rocs_tikzfileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
Name=PGF/TikZ Graph File Export Plugin
Name[ca]=Connector d'exportació de fitxer de grafs PGF/TikZ
Name[cs]=Export souborů grafů PGF/TikZ
Name[de]=PGF/TikZ-Graphendateiexportmodul
Name[en_GB]=PGF/TikZ Graph File Export Plugin
Name[es]=Complemento de exportación de archivo de grafos PGF/TikZ
Name[fi]=PGF/TikZ-graafitiedoston vientiliitännäinen
Name[fr]=Module externe d'exportation de fichiers « PGF / TikZ »
Name[nl]=Plugin voor exporteren van PGF/TikZ Graph-bestanden
Name[pl]=Wtyczka eksportu plików grafów PGF/TikZ
Name[pt]='Plugin' de Exportação de Grafos em PGF/TikZ
Name[pt_BR]=Plugin para exportação de arquivo de grafo PGF/TikZ
Name[sk]=Exportný plugin súborov grafu PGF/TikZ
Name[sl]=Vstavek izvoza datotek grafov PGF/TikZ
Name[sv]=Exportinsticksprogram för PGF/TikZ-graffilformat
Name[uk]=Додаток експортування файлів графів PGF/TikZ
Name[x-test]=xxPGF/TikZ Graph File Export Pluginxx
Name[zh_TW]=PGF/TikZ 圖形檔匯出外掛程式
Comment=Writes graph documents in PGF/TikZ format for use in LaTeX documents
Comment[bs]=Piše graf dokumente u PGF/TikZ formatu za upotrebu u LaTeX dokumentu
Comment[ca]=Escriu documents gràfics en format PGF/TikZ per utilitzar-los en documents LaTeX
Comment[ca@valencia]=Escriu documents gràfics en format PGF/TikZ per utilitzar-los en documents LaTeX
Comment[da]=Skriver grafdokumenter i PGF-/TikZ-format til brug i LaTeX-dokumenter
Comment[de]=Exportiert Graphendokumente im Format PGF/TikZ zur Verwendung in LaTeX-Dokumenten
Comment[el]=Γράφει τα έγγραφα γράφων σε μορφή PGF/TikZ για να χρησιμοποιηθούν σε έγγραφα LaTeX
Comment[en_GB]=Writes graph documents in PGF/TikZ format for use in LaTeX documents
Comment[es]=Escribe documentos de grafos en el formato PGF/TikZ para usar en documentos LaTeX
Comment[et]=Graafidokumentide kirjutamine PGF/TikZ vormingus kasutamiseks LaTeXi dokumentides
Comment[fi]=Kirjoittaa PGF/TikZ-muotoisia graafitiedostoja LaTeX-tiedostoissa käyttämiseen
Comment[fr]=Écrit des documents de graphes au format « PGF » / « TikZ » pour utilisation dans des documents LaTeX
Comment[gl]=Escribe documentos de gráficos no formato PGF/TikZ para usar en documentos de LaTeX
Comment[hu]=PGF/TikZ formátumba ír gráfdokumentumokat, hogy használni lehessen LaTeX dokumentumokban
Comment[it]=Scrive grafi in formato PGF/TikZ per usarli nei documenti LaTeX
Comment[kk]=LaTeX құжаттарында қолданатын PGF/TikZ пішімдегі граф құжаттарды жазу
Comment[km]=សរសេរ​ឯកសារ​ក្រាហ្វ​ជា​ទ្រង់ទ្រាយ PGF/TikZ សម្រាប់​ប្រើ​ក្នុង​ឯកសារ LaTeX
Comment[ko]=LaTeX 문서에 사용하기 위한 PGF/TikZ 파일로 그래프 문서 작성
Comment[nb]=Skriver grafdokumenter i PGF/TikZ-format til bruk i LaTeX-dokumenter
Comment[nds]=Grafikdokmenten in PGF/TikZ-Formaat för't Bruken binnen LaTeX-Dokmenten schrieven
Comment[nl]=Schrijft grafiekdocumenten in PGF/TikZ-formaat die in LaTeX-documenten worden gebruikt.
Comment[pl]=Zapisuje dokumenty grafów w formacie PGF/TikZ do wykorzystania w dokumentach LaTeX
Comment[pt]=Grava os documentos dos grafos no formato PGF/TikZ, para poder usar em documentos de LaTeX
Comment[pt_BR]=Grava documentos de grafo no formato PGF/TikZ para uso em documentos LaTeX
Comment[ru]=Записывает определения графов в формате PGF/TikZ для использования в документах LaTeX
Comment[sk]=Zapíše grafické dokumenty do formátu PGF/TikZ na použitie s dokumentmi LaTeX
Comment[sl]=Zapiše dokumente grafov v obliki PGF/TikZ za uporabo v dokumentih LaTeX
Comment[sv]=Skriver grafdokument med PGF/TikZ-format för användning i Latex-dokument
Comment[tr]=LaTeX belgelerinde kullanmak üzere grafik belgelerini PGF/TikZ biçiminde yazar
Comment[uk]=Запис документів графів у форматі PGF/TikZ з метою наступного використання у документах LaTeX
Comment[x-test]=xxWrites graph documents in PGF/TikZ format for use in LaTeX documentsxx
Comment[zh_TW]=寫入 PGF/TikZ 格式的圖形文件，以便在 LaTeX 文件中使用
