[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=rocs/graphtheory/fileformat
X-KDE-Library=tgffileformat
X-KDE-PluginInfo-Name=rocs_tgffileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
Name=TGF Graph File Format
Name[ca]=Format de fitxer de grafs TGF
Name[cs]=Formát souborů grafů TGF
Name[de]=TGF-Graphendateiformat
Name[en_GB]=TGF Graph File Format
Name[es]=Formato de archivo de grafos TGF
Name[fi]=TGF-graafitiedostomuoto
Name[fr]=Format de fichier de graphe « TGF »
Name[gl]=Complemento de ficheiros de gráficos TGF
Name[nl]=Bestandsformaat voor TGF Graph
Name[pl]=Format plików grafów TGF
Name[pt]=Formato de Ficheiros de Grafos em TGF
Name[pt_BR]=Formato de arquivo de grafo TGF
Name[ru]=Поддержка файлов графов TGF
Name[sk]=Grafický súborový formát TGF
Name[sl]=Vrsta datotek z grafi TGF
Name[sv]=TGF-graffilformat
Name[uk]=формат файлів графів TGF
Name[x-test]=xxTGF Graph File Formatxx
Name[zh_TW]=TGF 圖形檔案格式
Comment=Read and write graph documents in Trivial Graph Format (TGF)
Comment[bs]=Čitaj i piši dokumente grafa u Trivial Graph Format (TGF)
Comment[ca]=Llegeix i escriu fitxers escrits en Format Gràfic Trivial (TGF)
Comment[ca@valencia]=Llig i escriu fitxers escrits en Format Gràfic Trivial (TGF)
Comment[da]=Læs og skriv grafdokumenter i Trivial Graph-format (TGF)
Comment[de]=Dokumente im Format „Trivial Graph“ (TGF) lesen und schreiben
Comment[el]=Ανάγνωση και εγγραφή αρχείων γράφων σε μορφή Trivial Graph (TGF)
Comment[en_GB]=Read and write graph documents in Trivial Graph Format (TGF)
Comment[es]=Leer y escribir documentos de grafos en el formato de grafos Trivial (TGF)
Comment[et]=TGF (Trivial Graph Format) vormingus graafidokumentide lugemine ja kirjutamine
Comment[fi]=Lukee ja kirjoittaa Trivial Graph Format (TGF) -muotoisia graafitiedostoja
Comment[fr]=Lit et écrit de documents de graphe au format « Trivial Graph Format  » (« TGF »)
Comment[gl]=Le e escribe documentos gráficos co Trivial Graph Format (TGF)
Comment[hu]=Gráfdokumentumok olvasása és írása Triviális gráf formátumban (TGF)
Comment[it]=Leggi e scrivi i documenti scritti in Trivial Graph Format (TGF)
Comment[kk]=Trivial Graph Format (TGF) пішіміндегі граф құжаттарды оқу және жазу
Comment[km]=អាន និង​សរសេរ​ឯកសារ​ក្រាហ្វជា Trivial Graph Format (TGF)
Comment[ko]=Trivial 그래프 형식(TGF) 파일 읽고 쓰기
Comment[nb]=Les og skriv grafdokumenter i Trivial Graph Format (TGF)
Comment[nds]="Trivial Graph Format (TGF)"-Dateien lesen un schrieven
Comment[nl]=Lezen en schrijven van Trivial Graph Format documenten (TGF)
Comment[pl]=Czytaj i zapisuj dokumenty grafów w Trivial Graph Format (TGF)
Comment[pt]=Ler e gravar documentos de grafos no formato TGF (Trivial Graph Format)
Comment[pt_BR]=Lê e grava documentos no formato Trivial Graph Format (TGF)
Comment[ru]=Читает и записывает определения графов в формате TGF
Comment[sk]=Čítať a zapisovať grafické dokumenty v triviálnom grafickom formáte (TGF)
Comment[sl]=Branje in pisanje dokumentov grafov Trivial Graph Format (TGF)
Comment[sv]=Läs och skriv grafdokument med Trivial Graph-format (TGF)
Comment[tr]=Grafik belgelerini Küçük Grafik Biçiminde oku ve yaz (TGF)
Comment[uk]=Читання і запис документів графів у форматі звичайного графу (TGF)
Comment[x-test]=xxRead and write graph documents in Trivial Graph Format (TGF)xx
Comment[zh_TW]=讀寫 Trivial Graph Format (TGF) 格式的圖形檔。
