[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/ToolPlugin
X-KDE-Library=rocs_makecompleteplugin
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=rocs_makecomplete_plugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Make Complete
Name[en_GB]=Make Complete
Name[sv]=Gör fullständig
Name[uk]=Зробити повним
Name[x-test]=xxMake Completexx
Comment=Make all graphs complete. All actual edges will be removed.
