[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/ToolPlugin
X-KDE-Library=rocs_makecompleteplugin
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=Make Complete Rocs Tool Plugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Make Complete
Name[ca]=Completa'ls
Name[ca@valencia]=Completa'ls
Name[da]=Færdiggør
Name[de]=Vervollständigen
Name[el]=Ολοκλήρωση
Name[en_GB]=Make Complete
Name[es]=Completar
Name[et]=Lõpetamine
Name[fr]=Compléter
Name[it]=Completa
Name[km]=ធ្វើ​ឲ្យ​ពេញ​លេញ
Name[lv]=Padarīt pabeigtus
Name[nb]=Fullfør
Name[nds]=Afsluten
Name[nl]=Aanvullen
Name[pt]=Tornar Completo
Name[pt_BR]=Tornar completo
Name[ru]=Построение полного графа
Name[sv]=Gör fullständig
Name[uk]=Зробити повним
Name[x-test]=xxMake Completexx
Name[zh_CN]=图形补全
Name[zh_TW]=Make Complete
Comment=Make all graphs complete. All actual edges will be removed.
Comment[ca]=Completa tots els grafs. S'esborraran totes les arestes reals.
Comment[ca@valencia]=Completa tots els grafs. S'esborraran totes les arestes reals.
Comment[da]=Færdiggør alle grafer. Alle aktuelle kanter bliver fjernet.
Comment[el]=Ολοκλήρωση όλων των γραφημάτων. Όλες οι ενεργές ακμές θα αφαιρεθούν.
Comment[en_GB]=Make all graphs complete. All actual edges will be removed.
Comment[es]=Completar todos los grafos. Se eliminarán todas las aristas reales.
Comment[et]=Kõik graafid lõpetatakse. Kõik tegelikud seosed eemaldatakse.
Comment[fr]=Compléter tous les graphiques. Tous les bords actuels seront supprimés.
Comment[hr]=Učini sve grafove potpunima. Svi stvarni vrhovi biti će uklonjeni.
Comment[it]=Completa tutti i grafi. Tutti gli archi saranno rimossi.
Comment[km]=ធ្វើ​ឲ្យ​ក្រាហ្វទាំង​អស់មាន​លក្ខណៈ​​ពេញលេញ ។ គ្រប់​គែម​ជាក់​ស្តែង​នឹង​ត្រូវ​យក​ចេញ ។
Comment[lv]=Padarīt visus grafikus pabeigtus. Visas patiesās šķautnes tiks noņemtas.
Comment[nb]=Fullfør alle grafer, alle virkelige kanter vil bli fjernet.
Comment[nds]=All Diagrammen afsluten. All Kanten warrt wegdaan.
Comment[nl]=Vul alle graphs aan. Alle actuele randen zullen worden verwijderd.
Comment[pt]=Torna todos os gráficos completos. Todas as arestas actuais serão removidas.
Comment[pt_BR]=Tornar todos os grafos completos. Todas as arestas atuais serão removidas.
Comment[sv]=Gör alla grafer fullständiga. Alla verkliga bågar kommer att tas bort
Comment[uk]=Зробити всі графи повними. Всі справжні ребра буде вилучено.
Comment[x-test]=xxMake all graphs complete. All actual edges will be removed.xx
Comment[zh_CN]=补全所有图形。所有边角都会被去除。
Comment[zh_TW]=讓所有圖形變成完全圖形。所有實際的邊都將被移除。
