[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-ServiceTypes=rocs/graphtheory/fileformat
X-KDE-Library=dotfileformat
X-KDE-PluginInfo-Name=rocs_dotfileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
Name=DOT Graph File Format
Comment=Read and write Graphviz graph documents (DOT)
Comment[bs]=Čitanje i pisanje Graphwiz datoteka (DOT)
Comment[ca]=Llegeix i escriu documents gràfics del Graphviz (DOT).
Comment[ca@valencia]=Llig i escriu documents gràfics del Graphviz (DOT).
Comment[cs]=Čte a ukládá soubory grafů Graphviz.(DOT)
Comment[da]=Læs og skriv Graphviz grafdokumenter (DOT)
Comment[de]=Graphviz-Graphendokumente (DOT) lesen und schreiben
Comment[el]=Ανάγνωση και εγγραφή εγγράφων γράφων Graphviz (DOT)
Comment[en_GB]=Read and write Graphviz graph documents (DOT)
Comment[es]=Leer y escribir documentos de grafos Graphviz (DOT)
Comment[et]=Graphvizi graafifailide (DOT) lugemine ja kirjutamine.
Comment[fi]=Lukee ja kirjoittaa Graphviz-graafitiedostoja (DOT)
Comment[fr]=Lit et écrit des documents de graphes « Graphviz » (« DOT »)
Comment[ga]=Léigh agus scríobh cáipéisí graif Graphviz (DOT)
Comment[gl]=Le e escribe documentos de gráficos de Graphviz (DOT)
Comment[hu]=Graphviz gráfdokumentumok (DOT) olvasása és írása
Comment[it]=Leggi e scrivi i grafi Graphviz (DOT)
Comment[kk]=Graphviz (DOT) граф құжаттар файлдарын жазу және оқу
Comment[km]=អាន និង​សរសេរ​ឯកសារ​ក្រាហ្វ Graphviz (DOT)​​
Comment[ko]=Graphviz 그래프 문서(DOT) 파일 읽고 쓰기
Comment[nb]=Les og skriv Graphviz grafdokumenter (DOT)
Comment[nds]=Graphviz-Dateien (DOT) lesen un schrieven
Comment[nl]=Lezen en schrijven van Graphviz grafiekbestanden (DOT)
Comment[pl]=Czytaj i zapisuj dokumenty grafów Graphviz (DOT)
Comment[pt]=Ler e gravar documentos de grafos do Graphviz (DOT)
Comment[pt_BR]=Lê e grava documentos de grafo do Graphviz (DOT)
Comment[ru]=Читает и записывает определения графов Graphviz (DOT)
Comment[sk]=Čítanie a zápis grafických dokumentov Graphviz (DOT)
Comment[sl]=Branje in pisanje dokumentov grafov Graphviz (DOT)
Comment[sv]=Läs och skriv Graphviz-grafdokument (DOT).
Comment[tr]=Graphviz grafik belgelerini oku ve yaz (DOT)
Comment[uk]=Читання і запис файлів документів графів Graphviz (DOT)
Comment[x-test]=xxRead and write Graphviz graph documents (DOT)xx
Comment[zh_TW]=讀寫 Graphviz 圖形檔 (DOT)。
