[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Rocs/GraphFilePlugin
X-KDE-Library=rocs_tgffileformat
X-KDE-PluginInfo-Author=Wagner Reck, Andreas Cord-Landwehr
X-KDE-PluginInfo-Name=rocs_tgffileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rocs TGF Graph File Plugin
Name[cs]=Zásuvný modul souborů Rocs TGF
Name[es]=Complemento de archivo de grafos TGF para Rocs
Name[nl]=Plugin voor Rocs TGF grafiekbestand
Name[pt]='Plugin' de Grafos em TGF do Rocs
Name[pt_BR]=Plugin de arquivo de grafo TGF do Rocs
Name[sv]=Rocs insticksprogram för TGF-graffil
Name[uk]=Додаток роботи з файлами графів TGF Rocs
Name[x-test]=xxRocs TGF Graph File Pluginxx
Comment=Read and write graph documents in Trivial Graph Format (TGF)
Comment[es]=Leer y escribir documentos de grafos en el formato de grafos Trivial (TGF)
Comment[nl]=Lezen en schrijven van Trivial Graph Format documenten (TGF)
Comment[pt]=Ler e gravar documentos de grafos no formato TGF (Trivial Graph Format)
Comment[pt_BR]=Ler e gravar documentos no formato Trivial Graph Format (TGF)
Comment[sv]=Läs och skriv grafdokument med Trivial Graph-format (TGF)
Comment[uk]=Читання і запис документів графів у форматі звичайного графу (TGF)
Comment[x-test]=xxRead and write graph documents in Trivial Graph Format (TGF)xx
