[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Rocs/GraphFilePlugin
X-KDE-Library=rocs_tikzfileformat
X-KDE-PluginInfo-Author=Andreas Cord-Landwehr
X-KDE-PluginInfo-Name=rocs_tikzfileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rocs PGF/TikZ Graph File Export Plugin
Name[bs]=Rocs PGF/TikZ Dodatak ua izvoz graf datoteka
Name[ca]=Endollable d'exportació de fitxer gràfic PGF/TikZ del Rocs
Name[ca@valencia]=Endollable d'exportació de fitxer gràfic PGF/TikZ del Rocs
Name[da]=PGF/TikZ graffileksport-plugin til Rocs
Name[de]=PGF/TikZ-Graphendateiexportmodul für Rocs
Name[el]=Πρόσθετο εξαγωγής αρχείων γράφων PGF/TikZ του Rocs
Name[es]=Complemento de exportación de archivo de grafos PGF/TikZ para Rocs
Name[et]=Rocsi PGF/TikZ graafifaili ekspordiplugin
Name[fi]=Rocsin PGF-TikZ-graafitiedoston vientiliitännäinen
Name[fr]=Module externe d'exportation de fichiers de graphes Rocs « PGF » / « TikZ »
Name[gl]=Engadido de exportación de ficheiros de gráficos PGG/TikZ de Rocs
Name[hu]=Rocs PGF/TikZ gráf fájl exportáló bővítmény
Name[it]=Estensione di esportazione a file PGF/TikZ di Rocs
Name[kk]=Rocs PGF/TikZ граф файлдарды экспорттау плагині
Name[km]=កម្មវិធី​ជំនួយ​នាំចេញ​ឯកសារក្រាហ្វ Rocs PGF/TikZ Graph
Name[nb]=Rocs programtillegg for eksport av PGF/TikX-graf-filer
Name[nl]=Plugin voor exporteren van Rocs PGF/TikZ grafiekbestanden
Name[pl]=Wtyczka eksportu plików grafów Rocs PGF/TikZ
Name[pt]='Plugin' de Exportação de Grafos em PGF/TikZ
Name[pt_BR]=Plugin para exportação de arquivo de grafo PGF/TikZ do Rocs
Name[ru]=Модуль экспорта файлов графов PGF/TikZ для Rocs
Name[sk]=Exportný plugin súborov Rocs PGF/TikZ Graph
Name[sl]=Vstavek izvoza datotek grafov PGF/TikZ za Rocs
Name[sv]=Rocs exportinsticksprogram för PGF/TikZ-graffiler
Name[tr]=Rocs PGF/TikZ Grafik Dosya Aktarma Eklentisi
Name[uk]=Додаток експортування файлів графів PGF/TikZ Rocs
Name[x-test]=xxRocs PGF/TikZ Graph File Export Pluginxx
Name[zh_TW]=Rocs PGF/TikZ 圖形檔匯出外掛程式
Comment=Writes graph documents in PGF/TikZ format for use in LaTeX documents
Comment[bs]=Piše graf dokumente u PGF/TikZ formatu za upotrebu u LaTeX dokumentu
Comment[ca]=Escriu documents gràfics en format PGF/TikZ per utilitzar-los en documents LaTeX
Comment[ca@valencia]=Escriu documents gràfics en format PGF/TikZ per utilitzar-los en documents LaTeX
Comment[da]=Skriver grafdokumenter i PGF-/TikZ-format til brug i LaTeX-dokumenter
Comment[de]=Exportiert Graphendokumente im Format PGF/TikZ zur Verwendung in LaTeX-Dokumenten
Comment[el]=Γράφει τα έγγραφα γράφων σε μορφή PGF/TikZ για να χρησιμοποιηθούν σε έγγραφα LaTeX
Comment[es]=Escribe documentos de grafos en el formato PGF/TikZ para usar en documentos LaTeX
Comment[et]=Graafidokumentide kirjutamine PGF/TikZ vormingus kasutamiseks LaTeXi dokumentides
Comment[fi]=Kirjoittaa PGF/-TikZ-muotoisia graafitiedostoja LaTeX-tiedostoissa käyttämiseen
Comment[fr]=Écrit des documents de graphes au format « PGF » / « TikZ » pour utilisation dans des documents LaTeX
Comment[gl]=Escribe documentos de gráficos no formato PGF/TikZ para usar en documentos de LaTeX
Comment[hu]=PGF/TikZ formátumba ír gráfdokumentumokat, hogy használni lehessen LaTeX dokumentumokban
Comment[it]=Scrive grafi in formato PGF/TikZ per usarli nei documenti LaTeX
Comment[kk]=LaTeX құжаттарында қолданатын PGF/TikZ пішімдегі граф құжаттарды жазу
Comment[km]=សរសេរ​ឯកសារ​ក្រាហ្វ​ជា​​ទ្រង់ទ្រាយ PGF/TikZ ​សម្រាប់​ប្រើ​ក្នុង​ឯកសារ LaTeX
Comment[nb]=Skriver grafdokumenter i PGF/TikZ-format til bruk i LaTeX-dokumenter
Comment[nl]=Schrijft grafiekdocumenten in PGF/TikZ-formaat die in LaTeX-documenten worden gebruikt.
Comment[pl]=Zapisuje dokumenty grafów w formacie PGF/TikZ do wykorzystania w dokumentach LaTeX
Comment[pt]=Grava os documentos dos grafos no formato PGF/TikZ, para poder usar em documentos de LaTeX
Comment[pt_BR]=Grava documentos de grafo no formato PGF/TikZ para uso em documentos LaTeX
Comment[ru]=Записывает определения графов в формате PGF/TikZ для использования в документах LaTeX
Comment[sk]=Zapíše grafické dokumenty do formátu PGF/TikZ na použitie s dokumentmi LaTeX
Comment[sl]=Zapiše dokumente grafov v zapisu PGF/TikZ za uporabo v dokumentih LaTeX
Comment[sv]=Skriver grafdokument med PGF/TikZ-format för användning i Latex-dokument
Comment[tr]=LaTeX belgelerinde kullanmak üzere grafik belgelerini PGF/TikZ biçiminde yazar
Comment[uk]=Запис документів графів у форматі PGF/TikZ з метою наступного використання у документах LaTeX
Comment[x-test]=xxWrites graph documents in PGF/TikZ format for use in LaTeX documentsxx
Comment[zh_TW]=寫入 PGF/TikZ 格式的圖形文件，以便在 LaTeX 文件中使用
