[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Rocs/GraphFilePlugin
X-KDE-Library=rocs_tikzfileformat
X-KDE-PluginInfo-Author=Andreas Cord-Landwehr
X-KDE-PluginInfo-Name=rocs_tikzfileformat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Rocs PGF/TikZ Graph File Export Plugin
Name[es]=Complemento de exportación de archivo de grafos PGF/TikZ para Rocs
Name[hu]=Rocs PGF/TikZ gráf fájl exportáló bővítmény
Name[nb]=Rocs programtillegg for eksport av PGF/TikX-graf-filer
Name[nl]=Plugin voor exporteren van Rocs PGF/TikZ grafiekbestanden
Name[pt]='Plugin' de Exportação de Grafos em PGF/TikZ
Name[pt_BR]=Plugin para exportação de arquivo de grafo PGF/TikZ do Rocs
Name[sv]=Rocs exportinsticksprogram för PGF/TikZ-graffiler
Name[uk]=Додаток експортування файлів графів PGF/TikZ Rocs
Name[x-test]=xxRocs PGF/TikZ Graph File Export Pluginxx
Name[zh_TW]=Rocs PGF/TikZ 圖形檔匯出外掛程式
Comment=Writes graph documents in PGF/TikZ format for use in LaTeX documents
Comment[es]=Escribe documentos de grafos en el formato PGF/TikZ para usar en documentos LaTeX
Comment[hu]=PGF/TikZ formátumba ír gráfdokumentumokat, hogy használni lehessen LaTeX dokumentumokban
Comment[nb]=Skriver grafdokumenter i PGF/TikZ-format til bruk i LaTeX-dokumenter
Comment[nl]=Schrijft grafiekdocumenten in PGF/TikZ-formaat die in LaTeX-documenten worden gebruikt.
Comment[pt]=Grava os documentos dos grafos no formato PGF/TikZ, para poder usar em documentos de LaTeX
Comment[pt_BR]=Grava documentos de grafo no formato PGF/TikZ para uso em documentos LaTeX
Comment[sv]=Skriver grafdokument med PGF/TikZ-format för användning i Latex-dokument
Comment[uk]=Запис документів графів у форматі PGF/TikZ з метою наступного використання у документах LaTeX
Comment[x-test]=xxWrites graph documents in PGF/TikZ format for use in LaTeX documentsxx
Comment[zh_TW]=寫入 PGF/TikZ 格式的圖形文件，以便在 LaTeX 文件中使用
