[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/FilePlugin
X-KDE-Library=rocs_kmlfileplugin
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=rocs_kmlfile_plugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=KML file
Name[el]=Αρχείο KML
Name[en_GB]=KML file
Name[es]=Archivo KML
Name[nb]=KML-fil
Name[nds]=KML-Datei
Name[pt]=Ficheiro KML
Name[pt_BR]=Arquivo KML
Name[sv]=KML-fil
Name[uk]=Файл KML
Name[x-test]=xxKML filexx
Comment=Read and write kml files.
Comment[el]=Ανάγνωση και εγγραφή αρχείων kml.
Comment[en_GB]=Read and write kml files.
Comment[es]=Leer y escribir archivos KML.
Comment[nb]=Les og skriv kml-filer.
Comment[nds]=KML-Dateien lesen un schrieven
Comment[pt]=Ler e gravar ficheiros KML.
Comment[pt_BR]=Ler e gravar arquivos KML.
Comment[sv]=Läs och skriv KML-filer.
Comment[uk]=Читання і запис файлів kml.
Comment[x-test]=xxRead and write kml files.xx
