[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/ToolPlugin
X-KDE-Library=rocs_transformedgesplugin
X-KDE-PluginInfo-Author=Andreas Cord-Landwehr
X-KDE-PluginInfo-Email=cola@uni-paderborn.de
X-KDE-PluginInfo-Name=Transform Edges Rocs Tool Plugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/rocs/
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-Rocs-SupportedDataStructures=Graph
Name=Transform Edges
Name[bs]=Trasformiši ivice
Name[ca]=Transforma les arestes
Name[ca@valencia]=Transforma les arestes
Name[da]=Transformér kanter
Name[de]=Kanten umformen
Name[el]=Μετασχηματισμός ακμών
Name[en_GB]=Transform Edges
Name[es]=Transformar aristas
Name[fi]=Muunna viivat
Name[fr]=Transformer des arêtes
Name[gl]=Transformar as arestas
Name[hu]=Élek átalakítása
Name[it]=Trasforma archi
Name[kk]=Қырларын түрлендіру
Name[km]=ប្លែង​គែម
Name[ko]=선 변형
Name[lv]=Transformēt šķautnes
Name[nb]=Omform kanter
Name[nds]=Kanten wanneln
Name[nl]=Kanten transformeren
Name[pl]=Przekształć krawędzie
Name[pt]=Transformar as Arestas
Name[pt_BR]=Transformar os cantos
Name[ru]=Преобразование рёбер
Name[sk]=Transformácia hrán
Name[sl]=Preoblikuj povezave
Name[sv]=Transformera kanter
Name[tr]=Kenarları Dönüştür
Name[uk]=Перетворення ребер
Name[x-test]=xxTransform Edgesxx
Name[zh_CN]=转换边
Name[zh_TW]=轉換邊緣
Comment=Transform graph edges by a transformation rule.
Comment[bs]=Trasformiši grafičke ivice pravilom transformacije
Comment[ca]=Transforma les arestes del graf seguint una regla de transformació.
Comment[ca@valencia]=Transforma les arestes del graf seguint una regla de transformació.
Comment[da]=Transformér grafkanter efter en transformationsregel.
Comment[de]=Graphenkanten mittels Transformationsregel umformen.
Comment[el]=Μετασχηματισμός των ακμών του γράφου με βάση κάποιον κανόνα μετασχηματισμού.
Comment[en_GB]=Transform graph edges by a transformation rule.
Comment[es]=Transforma las aristas del grafo usando una regla de transformación.
Comment[fi]=Muuntaa graafin viivat säännön mukaan.
Comment[fr]=Transforme des arêtes d'un graphe à l'aide d'une règle de transformation.
Comment[gl]=Transforma as arestas do gráfico segundo unha regra de transformación.
Comment[hu]=A gráf éleinek átalakítása egy átalakítási szabály szerint.
Comment[it]=Trasforma gli archi di un grafo con una regola di trasformazione.
Comment[kk]=Ережесі бойынша графтың қырларын түрлендіру.
Comment[km]=ប្លែង​គែមក្រាហ្វ​ ដោយ​​ច្បាប់​ប្លែង​ភាព ។
Comment[ko]=그래프의 선을 변환 규칙에 따라 변환합니다.
Comment[lv]=Transformēt grafa šķautnes pēc transformācijas noteikuma.
Comment[nb]=Omform grafkanter ved en transformasjonsregel.
Comment[nds]=Kanten vun Graphen na en Regel wanneln
Comment[nl]=Kanten van de graaf volgens een bepaalde regel transformeren.
Comment[pl]=Przekształć krawędzie grafu według reguły przekształcania.
Comment[pt]=Transformar as arestas do grafo de acordo com uma regra de transformação.
Comment[pt_BR]=Transformar os cantos do grafo de acordo com uma regra de transformação.
Comment[ru]=Преобразует рёбра графа по заданному правилу.
Comment[sk]=Transformácia hrán grafu podľa transformačného pravidla.
Comment[sl]=Po pravilu preoblikuje povezave grafa.
Comment[sv]=Transformerar grafernas kanter med en transformeringsregel.
Comment[tr]=Grafik kenarlarını bir dönüştürme kuralı ile dönüştür.
Comment[uk]=Перетворити ребра графу за правилом перетворення.
Comment[x-test]=xxTransform graph edges by a transformation rule.xx
Comment[zh_CN]=根据转换规则转换一个图的边。
Comment[zh_TW]=依轉換規則來轉換圖形邊緣。
