[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/FilePlugin
X-KDE-Library=rocs_dotFilePlugin
X-KDE-PluginInfo-Author=The Rocs Developers
X-KDE-PluginInfo-Email=kde-edu@mail.kde.org
X-KDE-PluginInfo-Name=Rocs Graphviz File plugin
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://edu.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Dot File Plugin
Name[ca]=Endollable de fitxer del Dot
Name[ca@valencia]=Endollable de fitxer del Dot
Name[da]=Dot-fil-plugin
Name[de]=Dot-Datei-Modul
Name[es]=Complemento de archivo Dot
Name[et]=Dot-faili plugin
Name[fi]=Dot-tiedostoliitännäinen
Name[ga]=Breisán Comhad Dot
Name[gl]=Engadido Punto Ficheiro
Name[hu]=DOT-fájl modul
Name[it]=Estensione per file Dot
Name[kk]=Dot файлдар плагині
Name[nb]=Dot fil-programtillegg
Name[nl]=Plug-in voor Dot-bestand
Name[pl]=Wtyczka pliku Dot
Name[pt]='Plugin' de Ficheiros do Dot
Name[pt_BR]=Plug-in de arquivos do Dot
Name[sv]=Dot filinsticksprogram
Name[uk]=Додаток роботи з файлами dot
Name[x-test]=xxDot File Pluginxx
Name[zh_CN]=Dot 文件插件
Name[zh_TW]=Dot 檔案外掛程式
Comment=Read and write Graphviz files.
Comment[bg]=Четене и запис на файлове Graphviz
Comment[bs]=Čitanje i pisanje Graphwiz datoteka
Comment[ca]=Llegeix i escriu fitxers Graphviz.
Comment[ca@valencia]=Llig i escriu fitxers Graphviz.
Comment[cs]=Čte a ukládá soubory Graphviz.
Comment[da]=Læs og skriv Graphviz-filer.
Comment[de]=Graphviz-Dateien lesen und schreiben
Comment[en_GB]=Read and write Graphviz files.
Comment[es]=Leer y escribir archivos Graphviz.
Comment[et]=Graphvizi failide lugemine ja kirjutamine.
Comment[fi]=Lukee ja kirjoittaa Graphviz-tiedostoja.
Comment[fr]=Lit et écrit des fichiers Graphviz.
Comment[ga]=Léigh agus scríobh comhaid Graphviz.
Comment[gl]=Ler e escribir ficheiros de Graphviz.
Comment[hu]=Graphviz fájlok olvasása és írása.
Comment[it]=Legge e scrive file di Graphviz.
Comment[kk]=Graphviz файлдарын жазу және оқу
Comment[km]=អាន និង​សរសេរ​ឯកសារ​ Graphviz ។
Comment[ko]=Graphviz 파일을 읽고 씁니다.
Comment[lv]=Lasa un raksta Graphviz failus.
Comment[nb]=Les og skriv Graphviz-filer.
Comment[nds]=Graphviz-Dateien lesen un schrieven
Comment[nl]=Lezen en schrijven van Graphviz-bestanden.
Comment[pl]=Czytaj i zapisuj pliki Graphviz.
Comment[pt]=Ler e gravar ficheiros do Graphviz.
Comment[pt_BR]=Ler e gravar arquivos do Graphviz.
Comment[ru]=Чтение и запись в файл Graphviz
Comment[sv]=Läs och skriv Graphviz-filer.
Comment[ug]=Graphviz ھۆججىتىنى ئوقۇيدۇ ۋە يازىدۇ.
Comment[uk]=Читання і запис файлів Graphviz.
Comment[x-test]=xxRead and write Graphviz files.xx
Comment[zh_CN]=读写 Graphviz 文件。
Comment[zh_TW]=讀寫 Graphviz 檔。
