[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Rocs/DSPlugin
X-KDE-Derived=KPluginInfo
Comment=Rocs Data Structure Plugin
Comment[en_GB]=Rocs Data Structure Plugin
Comment[es]=Complemento de estructura de datos para Rocs
Comment[pt]='Plugin' de Estrutura de Dados do Rocs
Comment[pt_BR]=Plug-in de estrutura de dados do Rocs
Comment[sv]=Rocs datastrukturinsticksprogram
Comment[uk]=Додаток структури даних Rocs
Comment[x-test]=xxRocs Data Structure Pluginxx
