[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Rocs/DSPlugin
X-KDE-Derived=KPluginInfo
Comment=Rocs Data Structure Plugin
Comment[x-test]=xxRocs Data Structure Pluginxx
