[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Rocs/DSPlugin
X-KDE-Derived=KPluginInfo
Comment=Rocs Data Structure Plugin
Comment[ca]=Endollable d'estructures de dades de Rocs
Comment[ca@valencia]=Endollable d'estructures de dades de Rocs
Comment[da]=Datastruktur-plugin til Rocs
Comment[de]=Rocs-Datenstruktur-Modul
Comment[en_GB]=Rocs Data Structure Plugin
Comment[es]=Complemento de estructura de datos para Rocs
Comment[et]=Rocsi andmestruktuuri plugin
Comment[fr]=Module de structure de données Rocs
Comment[gl]=Engadido da estrutura de datos de Rocs
Comment[it]=Estensione di strutture dati di Rocs
Comment[km]=កម្មវិធី​ជំនួយ​រចនា​សម្ព័ន្ធ​ទិន្នន័យ​ Rocs
Comment[lv]=Rocs datu struktūras spraudnis
Comment[nb]=Rocs programtillegg for datastruktur
Comment[nds]=Datenstruktuurmoduul för Rocs
Comment[nl]=Plugin voor Rocs-gegevensstructuur
Comment[pt]='Plugin' de Estrutura de Dados do Rocs
Comment[pt_BR]=Plug-in de estrutura de dados do Rocs
Comment[sv]=Rocs datastrukturinsticksprogram
Comment[uk]=Додаток структури даних Rocs
Comment[x-test]=xxRocs Data Structure Pluginxx
Comment[zh_TW]=Rocs 資料結構外掛程式
