[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Rocs/ToolPlugin
X-KDE-Derived=KPluginInfo
Comment=Rocs Tool Plugin
Comment[bs]=Dodatak Rocs Alata
Comment[ca]=Endollable d'eina del Rocs
Comment[ca@valencia]=Endollable d'eina del Rocs
Comment[cs]=Zásuvný modul nástrojů Rocs
Comment[da]=Værktøjs-plugin til Rocs
Comment[de]=Rocs-Extras-Modul
Comment[el]=Εργαλείο πρόσθετου για το Rocs
Comment[en_GB]=Rocs Tool Plugin
Comment[es]=Complemento de herramienta para Rocs
Comment[et]=Rocsi tööriistaplugin
Comment[fi]=Rocsin työkaluliitännäinen
Comment[fr]=Module externe d'outil Rocs
Comment[gl]=Engadido de ferramentas de Rocs
Comment[hu]=Rocs eszközmodul
Comment[it]=Estensione di strumento di Rocs
Comment[kk]=Rocs-тың құрал плагині
Comment[km]=កម្មវិធី​ជំនួយ​ឧបករណ៍ Rocs
Comment[ko]=Rocs 도구 플러그인
Comment[lv]=Rocs rīku spraudnis
Comment[nb]=Rocs Tool programtillegg
Comment[nds]=Warktüüchmoduul för Rocs
Comment[nl]=Plugin voor hulpmiddel voor Rocs
Comment[pl]=Wtyczka narzędzia Rocs
Comment[pt]='Plugin' de Ferramentas do Rocs
Comment[pt_BR]=Plugin de ferramenta do Rocs
Comment[ru]=Модуль для работы с утилитами
Comment[sv]=Rocs verktygsinsticksprogram
Comment[ug]=Rocs قورال قىستۇرمىسى
Comment[uk]=Додаток інструмента Rocs
Comment[x-test]=xxRocs Tool Pluginxx
Comment[zh_CN]=Roc 工具插件
Comment[zh_TW]=Rocs 工具外掛程式
