[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Rocs/ToolPlugin
X-KDE-Derived=KPluginInfo
Comment=Rocs Tool Plugin
Comment[da]=Værktøjs-plugin til Rocs
Comment[de]=Rocs-Extras-Modul
Comment[el]=Εργαλείο πρόσθετου για το Rocs
Comment[en_GB]=Rocs Tool Plugin
Comment[es]=Complemento de herramienta para Rocs
Comment[et]=Rocsi tööriistaplugin
Comment[it]=Estensione di strumento di Rocs
Comment[nb]=Rocs Tool programtillegg
Comment[nds]=Warktüüchmoduul för Rocs
Comment[nl]=Gereedschapsplugin voor Rocs
Comment[pt]='Plugin' de Ferramentas do Rocs
Comment[pt_BR]=Plug-in de ferramenta do Rocs
Comment[sv]=Rocs verktygsinsticksprogram
Comment[uk]=Додаток інструменту Rocs
Comment[x-test]=xxRocs Tool Pluginxx
Comment[zh_TW]=Rocs 工具外掛程式
