[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Rocs/FilePlugin
X-KDE-Derived=KPluginInfo
Comment=Rocs File Plugin
Comment[el]=Αρχείο πρόσθετου για το Rocs
Comment[en_GB]=Rocs File Plugin
Comment[es]=Complemento de archivo para Rocs
Comment[nb]=Rocs fil-programtillegg
Comment[nds]=Dateimoduul för Rocs
Comment[pt]='Plugin' de Ficheiros do Rocs
Comment[pt_BR]=Plug-in de arquivo do Rocs
Comment[sv]=Rocs filinsticksprogram
Comment[uk]=Додаток роботи з файлами Rocs
Comment[x-test]=xxRocs File Pluginxx
