[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/DataStructurePlugin
X-KDE-Library=rocs_ListStructure
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=Linked list
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Linked List
Name[es]=Lista enlazada
Name[et]=Lingitud loend
Name[nl]=Gekoppelde lijst
Name[pl]=Dowiązana lista
Name[pt]=Lista Ligada
Name[pt_BR]=Lista ligada
Name[sv]=Länkad lista
Name[uk]=Зв’язний список
Name[x-test]=xxLinked Listxx
Name[zh_TW]=鍊結串列
