[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/ToolPlugin
X-KDE-Library=rocs_generategraphplugin
X-KDE-PluginInfo-Author=Andreas Cord-Landwehr
X-KDE-PluginInfo-Email=cola@uni-paderborn.de
X-KDE-PluginInfo-Name=Generate Graph Rocs Tool Plugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://wwwhni.uni-paderborn.de/alg/mitarbeiter/cola
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Generate Graph
Name[de]=Graphen erstellen
Name[es]=Generar grafo
Name[et]=Graafiku genereerimine
Name[gl]=Xerar un gráfico
Name[nb]=Lag graf
Name[nds]=Diagramm opstellen
Name[nl]=Grafiek genereren
Name[pt]=Gerar o Grafo
Name[pt_BR]=Gerar o grafo
Name[sv]=Skapa graf
Name[uk]=Створення графу
Name[x-test]=xxGenerate Graphxx
Name[zh_TW]=產生圖形
Comment=This generates a new cool graph.
Comment[de]=Erstellt einen neuen Graphen.
Comment[es]=Esto genera un nuevo y bonito grafo.
Comment[et]=Uue laheda graafiku genereerimine.
Comment[gl]=Isto xera un gráfico chulo novo.
Comment[nb]=Dette genererer en kul ny graf
Comment[nds]=En nieg, dannig Diagramm opstellen
Comment[nl]=Dit genereert een nieuwe mooie grafiek.
Comment[pt]=Isto gera um novo grafo bonito.
Comment[pt_BR]=Isto gera um novo grafo legal.
Comment[sv]=Skapar en ny häftig graf.
Comment[uk]=Створює новий чудовий граф.
Comment[x-test]=xxThis generates a new cool graph.xx
Comment[zh_TW]=產生新的酷酷圖形。
