[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/ToolPlugin
X-KDE-Library=rocs_generategraphplugin
X-KDE-PluginInfo-Author=Andreas Cord-Landwehr
X-KDE-PluginInfo-Email=cola@uni-paderborn.de
X-KDE-PluginInfo-Name=Generate Graph Rocs Tool Plugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://wwwhni.uni-paderborn.de/alg/mitarbeiter/cola
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Generate Graph
Name[nl]=Grafiek genereren
Name[pt]=Gerar o Grafo
Name[pt_BR]=Gerar o grafo
Name[sv]=Skapa graf
Name[uk]=Створення графу
Name[x-test]=xxGenerate Graphxx
Comment=This generates a new cool graph.
Comment[nl]=Dit genereert een nieuwe mooie grafiek.
Comment[pt]=Isto gera um novo grafo bonito.
Comment[pt_BR]=Isto gera um novo grafo legal.
Comment[sv]=Skapar en ny häftig graf.
Comment[uk]=Створює новий чудовий граф.
Comment[x-test]=xxThis generates a new cool graph.xx
