[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/ToolPlugin
X-KDE-Library=rocs_generategraphplugin
X-KDE-PluginInfo-Author=Andreas Cord-Landwehr
X-KDE-PluginInfo-Email=cola@uni-paderborn.de
X-KDE-PluginInfo-Name=Generate Graph Rocs Tool Plugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://wwwhni.uni-paderborn.de/alg/mitarbeiter/cola
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Generate Graph
Name[bs]=Generiši Graf
Name[ca]=Genera el Graf
Name[ca@valencia]=Genera el Graf
Name[da]=Generér graf
Name[de]=Graphen erstellen
Name[es]=Generar grafo
Name[et]=Graafiku genereerimine
Name[gl]=Xerar un gráfico
Name[it]=Genera grafo
Name[km]=បង្កើត​ក្រាហ្វ
Name[ko]=그래프 생성
Name[nb]=Lag graf
Name[nds]=Diagramm opstellen
Name[nl]=Graaf genereren
Name[pt]=Gerar o Grafo
Name[pt_BR]=Gerar o grafo
Name[sv]=Skapa graf
Name[uk]=Створення графу
Name[x-test]=xxGenerate Graphxx
Name[zh_CN]=生成图
Name[zh_TW]=產生圖形
Comment=This generates a new graph by a pattern.
Comment[bs]=Ovo generiše novi graf po uzorku.
Comment[ca]=Això genera un nou graf segons un patró.
Comment[ca@valencia]=Això genera un nou graf segons un patró.
Comment[da]=Dette genererer en ny graf efter et mønster.
Comment[es]=Esto genera un nuevo grafo usando un patrón.
Comment[et]=Uue graafiku genereerimine mustri järgi.
Comment[it]=Questo genera un nuovo grafo secondo uno schema.
Comment[km]=វា​បង្កើត​ក្រាហ្វ​ថ្មី​ដោយ​លំនាំ ។
Comment[ko]=패턴을 사용하여 새 그래프를 만듭니다.
Comment[nb]=Dette genererer en ny graf ved et mønster.
Comment[nds]=Na en Muster en nieg Diagramm opstellen
Comment[nl]=Dit genereert een nieuwe graaf naar een patroon.
Comment[pt]=Isto gera um novo grafo de acordo com um dado padrão.
Comment[pt_BR]=Isto gera um novo grafo de acordo com um padrão.
Comment[sv]=Skapar en ny häftig graf.
Comment[uk]=Створює новий граф за шаблоном.
Comment[x-test]=xxThis generates a new graph by a pattern.xx
Comment[zh_CN]=将生成一个类型的图。
Comment[zh_TW]=依樣式產生新的圖形。
