[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/FilePlugin
X-KDE-Library=rocs_dotParser
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=Rocs Graphviz Fileplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Dot file
Name[ca]=Fitxer Dot
Name[ca@valencia]=Fitxer Dot
Name[cs]=Soubor s tečkou
Name[da]=Dot-fil
Name[de]=Dot-Datei
Name[en_GB]=Dot file
Name[es]=Archivo Dot
Name[et]=Dot-fail
Name[fr]=Fichier Dot
Name[gl]=Ficheiro dot
Name[it]=File Dot
Name[km]=ឯកសារ Dot
Name[nb]=Dot-fil
Name[nds]=DOT-Datei
Name[nl]=Dot-bestand
Name[pa]=ਡਾਟ ਫਾਇਲ
Name[pt]=Ficheiro do Dot
Name[pt_BR]=Arquivo Dot
Name[ru]=Файл Dot
Name[sv]=Dot-fil
Name[uk]=Файл Dot
Name[x-test]=xxDot filexx
Name[zh_CN]=Dot 文件
Name[zh_TW]=Dot 檔
Comment=Read and write Graphviz files.
Comment[ca]=Llegeix i escriu fitxers Graphviz.
Comment[ca@valencia]=Llig i escriu fitxers Graphviz.
Comment[cs]=Čte a ukládá soubory Graphviz.
Comment[da]=Læs og skriv Graphviz-filer.
Comment[de]=Graphviz-Dateien lesen und schreiben
Comment[en_GB]=Read and write Graphviz files.
Comment[es]=Leer y escribir archivos Graphviz.
Comment[et]=Graphvizi failide lugemine ja kirjutamine.
Comment[fr]=Lecture et écriture des fichiers Graphviz.
Comment[gl]=Ler e escribir ficheiros de Graphviz.
Comment[it]=Legge e scrive file di Graphviz.
Comment[km]=អាន និង​សរសេរ​ឯកសារ​ Graphviz ។
Comment[nb]=Les og skriv Graphviz-filer.
Comment[nds]=Graphviz-Dateien lesen un schrieven
Comment[nl]=Lezen en schrijven van Graphviz-bestanden.
Comment[pt]=Ler e gravar ficheiros do Graphviz.
Comment[pt_BR]=Ler e gravar arquivos do Graphviz.
Comment[ru]=Чтение и запись в файл Graphviz
Comment[sv]=Läs och skriv Graphviz-filer.
Comment[uk]=Читання і запис файлів Graphviz.
Comment[x-test]=xxRead and write Graphviz files.xx
Comment[zh_CN]=读写 Graphviz 文件。
Comment[zh_TW]=讀寫 Graphviz 檔。

