[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/FilePlugin
X-KDE-Library=rocs_plaintxt
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=Rocs PlaiTxt Fileplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=TXT file
Name[bg]=Файл TXT
Name[bs]=TXT datoteka
Name[ca]=Fitxer TXT
Name[ca@valencia]=Fitxer TXT
Name[cs]=Soubor TXT
Name[da]=TXT-fil
Name[de]=Textdatei
Name[en_GB]=TXT file
Name[es]=Archivo TXT
Name[et]=TXT-fail
Name[fi]=TXT-tiedosto
Name[fr]=Fichier TXT
Name[ga]=Téacschomhad
Name[gl]=Ficheiro TXT
Name[hu]=TXT-fájl
Name[it]=File TXT
Name[km]=ឯកសារ​ TXT
Name[ko]=TXT 파일
Name[lt]=TXT failas
Name[lv]=TXT fails
Name[nb]=TXT-fil.
Name[nds]=TXT-Datei
Name[nl]=TXT-bestand
Name[pa]=TXT ਫਾਇਲ
Name[pl]=Plik TXT
Name[pt]=Ficheiro TXT
Name[pt_BR]=Arquivo TXT
Name[ru]=Простой текстовый файл
Name[sv]=TXT-fil
Name[uk]=Файл TXT
Name[x-test]=xxTXT filexx
Name[zh_CN]=TXT 文件
Name[zh_TW]=TXT 檔
Comment=Read and write TXT files.
Comment[bg]=Четене и запис на файлове TXT
Comment[bs]=Čitanje i pisanje TXT datoteka
Comment[ca]=Llegeix i escriu fitxers TXT.
Comment[ca@valencia]=Llig i escriu fitxers TXT.
Comment[cs]=Čte a ukládá soubory TXT.
Comment[da]=Læs og skriv TXT-filer.
Comment[de]=Textdateien lesen und schreiben.
Comment[en_GB]=Read and write TXT files.
Comment[es]=Leer y escribir archivos TXT.
Comment[et]=TXT-failide lugemine ja kirjutamine.
Comment[fi]=Lukee ja kirjoittaa TXT-tiedostoja.
Comment[fr]=Lit et écrit des fichiers TXT.
Comment[gl]=Ler e escribir ficheiros TXT.
Comment[hu]=TXT-fájlok olvasása és írása.
Comment[it]=Legge e scrive file TXT.
Comment[km]=អាន​ និង​សរសេរ​ឯកសារ​ TXT ។
Comment[ko]=TXT 파일을 읽고 씁니다.
Comment[lv]=Lasīt un rakstīt TXT failus.
Comment[nb]=Les og skriv TXT-filer.
Comment[nds]=TXT-Dateien lesen un schrieven
Comment[nl]=Lezen en schrijven van txt-bestanden.
Comment[pl]=Czytaj i zapisuj pliki TXT.
Comment[pt]=Ler e gravar ficheiros TXT.
Comment[pt_BR]=Ler e gravar arquivos TXT.
Comment[ru]=Чтение и запись в текстовый файл
Comment[sv]=Läs och skriv TXT-filer.
Comment[uk]=Читання і запис файлів TXT.
Comment[x-test]=xxRead and write TXT files.xx
Comment[zh_CN]=读写 TXT 文件。
Comment[zh_TW]=讀寫 txt 檔。
