<!DOCTYPE kpartgui>
<kpartgui version="1" name="rocs_makecompleteplugin">
	<MenuBar>
		<Menu name="tools">
			<text>&amp;Tools</text>
			<Action name="makecompleteplugin" />
		</Menu>
	</MenuBar>
</kpartgui>