[Desktop Entry]
Name=Rocs
Name[ca]=Rocs
Name[ca@valencia]=Rocs
Name[da]=Rocs
Name[de]=Rocs
Name[el]=Rocs
Name[en_GB]=Rocs
Name[eo]=Rocs
Name[es]=Rocs
Name[et]=Rocs
Name[fr]=Rocs
Name[gl]=Rocs
Name[it]=Rocs
Name[nb]=Rocs
Name[nds]=Rocs
Name[nl]=Rocs
Name[nn]=Rocs
Name[pt]=Rocs
Name[pt_BR]=Rocs
Name[ru]=Rocs
Name[sv]=Rocs
Name[uk]=Rocs
Name[x-test]=xxRocsxx
Name[zh_CN]=Rocs
Name[zh_TW]=Rocs
GenericName=Rocs Graph Theory
GenericName[ca]=Teoria de grafs Rocs
GenericName[ca@valencia]=Teoria de grafs Rocs
GenericName[da]=Rocs grafteori
GenericName[de]=Rocs-Graphentheorie
GenericName[el]=Θεωρία γραφημάτων Rocs
GenericName[en_GB]=Rocs Graph Theory
GenericName[es]=Teoría de grafos Rocs
GenericName[et]=Rocs graafiteooria
GenericName[fr]=Théories des graphes Rocs
GenericName[gl]=Teoría de grafos de Rocs
GenericName[it]=Rocs - Teoria dei grafici
GenericName[nb]=Rocs grafteori
GenericName[nds]=Graphentheorie »Rocs«
GenericName[nl]=Rocs grafentheorie
GenericName[nn]=Rocs grafteori
GenericName[pt]=Teoria dos Grafos - Rocs
GenericName[pt_BR]=Teoria dos grafos de Rocs
GenericName[ru]=Теория графов
GenericName[sv]=Rocs grafteori
GenericName[uk]=Теорія графів «Rocs»
GenericName[x-test]=xxRocs Graph Theoryxx
GenericName[zh_CN]=Rocs 图论
GenericName[zh_TW]=Rocs 圖形理論
Exec=rocs %i -caption "%c"
Icon=Rocs
Type=Application
Comment=Graph Theory Tool for Professors and Students.
Comment[ca]=Eina de teoria de grafs per a professors i estudiants.
Comment[ca@valencia]=Eina de teoria de grafs per a professors i estudiants.
Comment[da]=Værktøj til grafteori for undervisere og studerende.
Comment[de]=Graphentheorie-Werkzeug für Professoren und Studenten.
Comment[el]=Εργαλείο θεωρίας γραφημάτων για καθηγητές και φοιτητές.
Comment[en_GB]=Graph Theory Tool for Professors and Students.
Comment[es]=Herramienta de teoría de grafos para profesores y estudiantes
Comment[et]=Graafiteooria tööriist nii professoritele kui ka tudengitele.
Comment[fr]=Outils de théorie des graphes pour professeurs et étudiants.
Comment[gl]=Ferramenta de Teoría de grafos para profesorado e alumnado
Comment[it]=Strumenti per teoria dei grafi per professori e studenti.
Comment[nb]=Grafteori-verktøy for professorer og studenter
Comment[nds]=Graphentheorie för Professors un Studenten
Comment[nl]=Hulpmiddel voor grafentheorie voor docenten en studenten.
Comment[nn]=Grafteoriverktøy for lærarar og elevar
Comment[pt]=Ferramenta de Teoria dos Grafos para Professores e Alunos.
Comment[pt_BR]=Ferramenta de teoria de grafos para professores e alunos.
Comment[ru]=Инструмент для изучения теории графов
Comment[sv]=Grafteoriverktyg för lärare och elever.
Comment[uk]=Інструмент теорії графів для викладачів та студентів.
Comment[x-test]=xxGraph Theory Tool for Professors and Students.xx
Comment[zh_CN]=面向授课场合的图论工具。
Comment[zh_TW]=給教授與學生使用的圖形理論工具。
Terminal=false
Categories=Qt;KDE;Education;Science;
