[Desktop Entry]
Encoding=UTF-8
Name=Rocs
GenericName=Rocs Graph Theory
GenericName[sv]=Rocs grafteori
Exec=Rocs %i %m -caption "%c"
Icon=Rocs
Type=Application
DocPath=Rocs/rocs.html
Comment=Graph Theory Tool for Professors and Students.
Comment[sv]=Grafteoriverktyg för lärare och studenter.
Terminal=false
Categories=Qt;KDE;Education;Science;
