[Desktop Entry]
Name=Rocs
GenericName=Rocs Graph Theory
Exec=rocs %i -caption "%c"
Icon=Rocs
Type=Application
Comment=Graph Theory Tool for Professors and Students.
Terminal=false
Categories=Qt;KDE;Education;Science;
