[Desktop Entry]
Encoding=UTF-8
Name=Rocs
GenericName=Rocs Graph Theory
Exec=kalcul %i %m -caption "%c"
Icon=Rocs
Type=Application
DocPath=Rocs/rocs.html
Comment=Graph Theory Tool for Professors and Students.
Terminal=false
Categories=Qt;KDE;Education;Science;
