[Desktop Entry]
Name=Rocs
Name[en_GB]=Rocs
Name[eo]=Rocs
Name[es]=Rocs
Name[et]=Rocs
Name[it]=Rocs
Name[pt]=Rocs
Name[pt_BR]=Rocs
Name[sv]=Rocs
Name[uk]=Рух
Name[x-test]=xxRocsxx
Name[zh_TW]=Rocs
GenericName=Rocs Graph Theory
GenericName[en_GB]=Rocs Graph Theory
GenericName[es]=Teoría de grafos Rocs
GenericName[et]=Rocs graafiteooria
GenericName[pt]=Teoria dos Grafos - Rocs
GenericName[pt_BR]=Teoria dos grafos de Rocs
GenericName[sv]=Rocs grafteori
GenericName[uk]=Теорія графів «Рух»
GenericName[x-test]=xxRocs Graph Theoryxx
GenericName[zh_TW]=Rocs 圖形理論
Exec=rocs %i -caption "%c"
Icon=Rocs
Type=Application
Comment=Graph Theory Tool for Professors and Students.
Comment[en_GB]=Graph Theory Tool for Professors and Students.
Comment[es]=Herramienta de teoría de grafos para profesores y estudiantes
Comment[et]=Graafiteooria tööriist nii professoritele kui ka tudengitele.
Comment[it]=Strumenti per teoria dei grafi per professori e studenti.
Comment[pt]=Ferramenta de Teoria dos Grafos para Professores e Alunos.
Comment[pt_BR]=Ferramenta de teoria de grafos para professores e alunos.
Comment[sv]=Grafteoriverktyg för lärare och elever.
Comment[uk]=Інструмент теорії графів для викладачів та студентів.
Comment[x-test]=xxGraph Theory Tool for Professors and Students.xx
Comment[zh_TW]=給教授與學生使用的圖形理論工具。
Terminal=false
Categories=Qt;KDE;Education;Science;
