[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/FilePlugin
X-KDE-Library=rocs_kmlParser
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=Rocs Keyhole Markup Language Fileplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=KML file
Name[ca]=Fitxer KML
Name[cs]=Soubor KML
Name[da]=KML-fil
Name[de]=KML-Datei
Name[en_GB]=KML file
Name[es]=Archivo KML
Name[et]=KML-fail
Name[gl]=Ficheiro KML
Name[hr]=KML datoteka
Name[it]=File KML
Name[nb]=KML-fil
Name[nds]=KML-Datei
Name[nl]=KML-bestand
Name[pt]=Ficheiro KML
Name[pt_BR]=Arquivo KML
Name[ru]=Файл KML
Name[sv]=KML-fil
Name[uk]=Файл KML
Name[x-test]=xxKML filexx
Name[zh_CN]=KML 文件
Name[zh_TW]=KML 檔
Comment=Read and write Keyhole Markup Language files.
Comment[ca]=Llegeix i escriu fitxers Keyhole Markup Language.
Comment[cs]=Číst a ukládat soubory Keyhole Markup Language.
Comment[da]=Læs og skriv Keyhole Markup Language-filer.
Comment[en_GB]=Read and write Keyhole Markup Language files.
Comment[es]=Leer y escribir archivos del lenguaje de marcas Keyhole.
Comment[et]=KML-failide lugemine ja kirjutamine.
Comment[gl]=Ler e escribir ficheiros na linguaxe de etiquetaxe Keyhole
Comment[it]=Legge e scrive file KML.
Comment[nb]=Les og skriv filer i Keyhole Markup Language.
Comment[nds]="Keyhole Markup Language"-Dateien lesen un schrieven
Comment[nl]=Lezen en schrijven van (Keyhole Markup Language) KML-bestanden.
Comment[pt]=Ler e gravar ficheiros no formato KML.
Comment[pt_BR]=Ler e gravar arquivos KML (Keyhole Markup Language).
Comment[ru]=Чтение и запись в файл KML (язык разметки Keyhole)
Comment[sv]=Läs och skriv KML-filer (Keyhole Markup Language).
Comment[uk]=Читання і запис файлів у форматі Keyhole Markup Language.
Comment[x-test]=xxRead and write Keyhole Markup Language files.xx
Comment[zh_CN]=读写 Keyhole 标记语言文件。
Comment[zh_TW]=讀寫 Keyhole Markup Language 檔。

